/*
Theme Name: zero_to_one
Theme URI: http://underscores.me/
Author: Luci Co., Ltd.
Author URI: http://luci.co.jp/
Description: zero to one project\'s theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: zero_to_one
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

zero_to_one is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');

@charset "UTF-8";

@font-face {
   font-family: "NotoSansCJK-s";
   src: url("fonts/NotoSansCJK-s.woff") format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


/*common*/
/* マージン制御
---------------------------------------*/
.m-auto{margin: auto;}
/*==================
 マージン制御-上
====================*/
.mt0 { margin-top: 0px!important; }
.mt1 { margin-top: 1px!important; }
.mt2 { margin-top: 2px!important; }
.mt3 { margin-top: 3px!important; }
.mt4 { margin-top: 4px!important; }
.mt5 { margin-top: 5px!important; }
.mt6 { margin-top: 6px!important; }
.mt7 { margin-top: 7px!important; }
.mt8 { margin-top: 8px!important; }
.mt9 { margin-top: 9px!important; }
.mt10 { margin-top: 10px!important; }
.mt11 { margin-top: 11px!important; }
.mt12 { margin-top: 12px!important; }
.mt13 { margin-top: 13px!important; }
.mt14 { margin-top: 14px!important; }
.mt15 { margin-top: 15px!important; }
.mt16 { margin-top: 16px!important; }
.mt17 { margin-top: 17px!important; }
.mt18 { margin-top: 18px!important; }
.mt19 { margin-top: 19px!important; }
.mt20 { margin-top: 20px!important; }
.mt21 { margin-top: 21px!important; }
.mt22 { margin-top: 22px!important; }
.mt23 { margin-top: 23px!important; }
.mt24 { margin-top: 24px!important; }
.mt25 { margin-top: 25px!important; }
.mt26 { margin-top: 26px!important; }
.mt27 { margin-top: 27px!important; }
.mt28 { margin-top: 28px!important; }
.mt29 { margin-top: 29px!important; }
.mt30 { margin-top: 30px!important; }
.mt31 { margin-top: 31px!important; }
.mt32 { margin-top: 32px!important; }
.mt33 { margin-top: 33px!important; }
.mt34 { margin-top: 34px!important; }
.mt35 { margin-top: 35px!important; }
.mt36 { margin-top: 36px!important; }
.mt37 { margin-top: 37px!important; }
.mt38 { margin-top: 38px!important; }
.mt39 { margin-top: 39px!important; }
.mt40 { margin-top: 40px!important; }
.mt41 { margin-top: 41px!important; }
.mt42 { margin-top: 42px!important; }
.mt43 { margin-top: 43px!important; }
.mt44 { margin-top: 44px!important; }
.mt45 { margin-top: 45px!important; }
.mt46 { margin-top: 46px!important; }
.mt47 { margin-top: 47px!important; }
.mt48 { margin-top: 48px!important; }
.mt49 { margin-top: 49px!important; }
.mt50 { margin-top: 50px!important; }
.mt51 { margin-top: 51px!important; }
.mt52 { margin-top: 52px!important; }
.mt53 { margin-top: 53px!important; }
.mt54 { margin-top: 54px!important; }
.mt55 { margin-top: 55px!important; }
.mt56 { margin-top: 56px!important; }
.mt57 { margin-top: 57px!important; }
.mt58 { margin-top: 58px!important; }
.mt59 { margin-top: 59px!important; }
.mt60 { margin-top: 60px!important; }
.mt61 { margin-top: 61px!important; }
.mt62 { margin-top: 62px!important; }
.mt63 { margin-top: 63px!important; }
.mt64 { margin-top: 64px!important; }
.mt65 { margin-top: 65px!important; }
.mt66 { margin-top: 66px!important; }
.mt67 { margin-top: 67px!important; }
.mt68 { margin-top: 68px!important; }
.mt69 { margin-top: 69px!important; }
.mt70 { margin-top: 70px!important; }
.mt71 { margin-top: 71px!important; }
.mt72 { margin-top: 72px!important; }
.mt73 { margin-top: 73px!important; }
.mt74 { margin-top: 74px!important; }
.mt75 { margin-top: 75px!important; }
.mt76 { margin-top: 76px!important; }
.mt77 { margin-top: 77px!important; }
.mt78 { margin-top: 78px!important; }
.mt79 { margin-top: 79px!important; }
.mt80 { margin-top: 80px!important; }
.mt81 { margin-top: 81px!important; }
.mt82 { margin-top: 82px!important; }
.mt83 { margin-top: 83px!important; }
.mt84 { margin-top: 84px!important; }
.mt85 { margin-top: 85px!important; }
.mt86 { margin-top: 86px!important; }
.mt87 { margin-top: 87px!important; }
.mt88 { margin-top: 88px!important; }
.mt89 { margin-top: 89px!important; }
.mt90 { margin-top: 90px!important; }
.mt91 { margin-top: 91px!important; }
.mt92 { margin-top: 92px!important; }
.mt93 { margin-top: 93px!important; }
.mt94 { margin-top: 94px!important; }
.mt95 { margin-top: 95px!important; }
.mt96 { margin-top: 96px!important; }
.mt97 { margin-top: 97px!important; }
.mt98 { margin-top: 98px!important; }
.mt99 { margin-top: 99px!important; }
.mt100 { margin-top: 100px!important; }



/*==================
 マージン制御-右
====================*/
.mr0 { margin-right: 0px!important; }
.mr1 { margin-right: 1px!important; }
.mr2 { margin-right: 2px!important; }
.mr3 { margin-right: 3px!important; }
.mr4 { margin-right: 4px!important; }
.mr5 { margin-right: 5px!important; }
.mr6 { margin-right: 6px!important; }
.mr7 { margin-right: 7px!important; }
.mr8 { margin-right: 8px!important; }
.mr9 { margin-right: 9px!important; }
.mr10 { margin-right: 10px!important; }
.mr11 { margin-right: 11px!important; }
.mr12 { margin-right: 12px!important; }
.mr13 { margin-right: 13px!important; }
.mr14 { margin-right: 14px!important; }
.mr15 { margin-right: 15px!important; }
.mr16 { margin-right: 16px!important; }
.mr17 { margin-right: 17px!important; }
.mr18 { margin-right: 18px!important; }
.mr19 { margin-right: 19px!important; }
.mr20 { margin-right: 20px!important; }
.mr21 { margin-right: 21px!important; }
.mr22 { margin-right: 22px!important; }
.mr23 { margin-right: 23px!important; }
.mr24 { margin-right: 24px!important; }
.mr25 { margin-right: 25px!important; }
.mr26 { margin-right: 26px!important; }
.mr27 { margin-right: 27px!important; }
.mr28 { margin-right: 28px!important; }
.mr29 { margin-right: 29px!important; }
.mr30 { margin-right: 30px!important; }
.mr31 { margin-right: 31px!important; }
.mr32 { margin-right: 32px!important; }
.mr33 { margin-right: 33px!important; }
.mr34 { margin-right: 34px!important; }
.mr35 { margin-right: 35px!important; }
.mr36 { margin-right: 36px!important; }
.mr37 { margin-right: 37px!important; }
.mr38 { margin-right: 38px!important; }
.mr39 { margin-right: 39px!important; }
.mr40 { margin-right: 40px!important; }
.mr41 { margin-right: 41px!important; }
.mr42 { margin-right: 42px!important; }
.mr43 { margin-right: 43px!important; }
.mr44 { margin-right: 44px!important; }
.mr45 { margin-right: 45px!important; }
.mr46 { margin-right: 46px!important; }
.mr47 { margin-right: 47px!important; }
.mr48 { margin-right: 48px!important; }
.mr49 { margin-right: 49px!important; }
.mr50 { margin-right: 50px!important; }
.mr51 { margin-right: 51px!important; }
.mr52 { margin-right: 52px!important; }
.mr53 { margin-right: 53px!important; }
.mr54 { margin-right: 54px!important; }
.mr55 { margin-right: 55px!important; }
.mr56 { margin-right: 56px!important; }
.mr57 { margin-right: 57px!important; }
.mr58 { margin-right: 58px!important; }
.mr59 { margin-right: 59px!important; }
.mr60 { margin-right: 60px!important; }
.mr61 { margin-right: 61px!important; }
.mr62 { margin-right: 62px!important; }
.mr63 { margin-right: 63px!important; }
.mr64 { margin-right: 64px!important; }
.mr65 { margin-right: 65px!important; }
.mr66 { margin-right: 66px!important; }
.mr67 { margin-right: 67px!important; }
.mr68 { margin-right: 68px!important; }
.mr69 { margin-right: 69px!important; }
.mr70 { margin-right: 70px!important; }
.mr71 { margin-right: 71px!important; }
.mr72 { margin-right: 72px!important; }
.mr73 { margin-right: 73px!important; }
.mr74 { margin-right: 74px!important; }
.mr75 { margin-right: 75px!important; }
.mr76 { margin-right: 76px!important; }
.mr77 { margin-right: 77px!important; }
.mr78 { margin-right: 78px!important; }
.mr79 { margin-right: 79px!important; }
.mr80 { margin-right: 80px!important; }
.mr81 { margin-right: 81px!important; }
.mr82 { margin-right: 82px!important; }
.mr83 { margin-right: 83px!important; }
.mr84 { margin-right: 84px!important; }
.mr85 { margin-right: 85px!important; }
.mr86 { margin-right: 86px!important; }
.mr87 { margin-right: 87px!important; }
.mr88 { margin-right: 88px!important; }
.mr89 { margin-right: 89px!important; }
.mr90 { margin-right: 90px!important; }
.mr91 { margin-right: 91px!important; }
.mr92 { margin-right: 92px!important; }
.mr93 { margin-right: 93px!important; }
.mr94 { margin-right: 94px!important; }
.mr95 { margin-right: 95px!important; }
.mr96 { margin-right: 96px!important; }
.mr97 { margin-right: 97px!important; }
.mr98 { margin-right: 98px!important; }
.mr99 { margin-right: 99px!important; }
.mr100 { margin-right: 100px!important; }



/*==================
 マージン制御-下
====================*/
.mb0 { margin-bottom: 0px!important; }
.mb1 { margin-bottom: 1px!important; }
.mb2 { margin-bottom: 2px!important; }
.mb3 { margin-bottom: 3px!important; }
.mb4 { margin-bottom: 4px!important; }
.mb5 { margin-bottom: 5px!important; }
.mb6 { margin-bottom: 6px!important; }
.mb7 { margin-bottom: 7px!important; }
.mb8 { margin-bottom: 8px!important; }
.mb9 { margin-bottom: 9px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb11 { margin-bottom: 11px!important; }
.mb12 { margin-bottom: 12px!important; }
.mb13 { margin-bottom: 13px!important; }
.mb14 { margin-bottom: 14px!important; }
.mb15 { margin-bottom: 15px!important; }
.mb16 { margin-bottom: 16px!important; }
.mb17 { margin-bottom: 17px!important; }
.mb18 { margin-bottom: 18px!important; }
.mb19 { margin-bottom: 19px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb21 { margin-bottom: 21px!important; }
.mb22 { margin-bottom: 22px!important; }
.mb23 { margin-bottom: 23px!important; }
.mb24 { margin-bottom: 24px!important; }
.mb25 { margin-bottom: 25px!important; }
.mb26 { margin-bottom: 26px!important; }
.mb27 { margin-bottom: 27px!important; }
.mb28 { margin-bottom: 28px!important; }
.mb29 { margin-bottom: 29px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb31 { margin-bottom: 31px!important; }
.mb32 { margin-bottom: 32px!important; }
.mb33 { margin-bottom: 33px!important; }
.mb34 { margin-bottom: 34px!important; }
.mb35 { margin-bottom: 35px!important; }
.mb36 { margin-bottom: 36px!important; }
.mb37 { margin-bottom: 37px!important; }
.mb38 { margin-bottom: 38px!important; }
.mb39 { margin-bottom: 39px!important; }
.mb40 { margin-bottom: 40px!important; }
.mb41 { margin-bottom: 41px!important; }
.mb42 { margin-bottom: 42px!important; }
.mb43 { margin-bottom: 43px!important; }
.mb44 { margin-bottom: 44px!important; }
.mb45 { margin-bottom: 45px!important; }
.mb46 { margin-bottom: 46px!important; }
.mb47 { margin-bottom: 47px!important; }
.mb48 { margin-bottom: 48px!important; }
.mb49 { margin-bottom: 49px!important; }
.mb50 { margin-bottom: 50px!important; }
.mb51 { margin-bottom: 51px!important; }
.mb52 { margin-bottom: 52px!important; }
.mb53 { margin-bottom: 53px!important; }
.mb54 { margin-bottom: 54px!important; }
.mb55 { margin-bottom: 55px!important; }
.mb56 { margin-bottom: 56px!important; }
.mb57 { margin-bottom: 57px!important; }
.mb58 { margin-bottom: 58px!important; }
.mb59 { margin-bottom: 59px!important; }
.mb60 { margin-bottom: 60px!important; }
.mb61 { margin-bottom: 61px!important; }
.mb62 { margin-bottom: 62px!important; }
.mb63 { margin-bottom: 63px!important; }
.mb64 { margin-bottom: 64px!important; }
.mb65 { margin-bottom: 65px!important; }
.mb66 { margin-bottom: 66px!important; }
.mb67 { margin-bottom: 67px!important; }
.mb68 { margin-bottom: 68px!important; }
.mb69 { margin-bottom: 69px!important; }
.mb70 { margin-bottom: 70px!important; }
.mb71 { margin-bottom: 71px!important; }
.mb72 { margin-bottom: 72px!important; }
.mb73 { margin-bottom: 73px!important; }
.mb74 { margin-bottom: 74px!important; }
.mb75 { margin-bottom: 75px!important; }
.mb76 { margin-bottom: 76px!important; }
.mb77 { margin-bottom: 77px!important; }
.mb78 { margin-bottom: 78px!important; }
.mb79 { margin-bottom: 79px!important; }
.mb80 { margin-bottom: 80px!important; }
.mb81 { margin-bottom: 81px!important; }
.mb82 { margin-bottom: 82px!important; }
.mb83 { margin-bottom: 83px!important; }
.mb84 { margin-bottom: 84px!important; }
.mb85 { margin-bottom: 85px!important; }
.mb86 { margin-bottom: 86px!important; }
.mb87 { margin-bottom: 87px!important; }
.mb88 { margin-bottom: 88px!important; }
.mb89 { margin-bottom: 89px!important; }
.mb90 { margin-bottom: 90px!important; }
.mb91 { margin-bottom: 91px!important; }
.mb92 { margin-bottom: 92px!important; }
.mb93 { margin-bottom: 93px!important; }
.mb94 { margin-bottom: 94px!important; }
.mb95 { margin-bottom: 95px!important; }
.mb96 { margin-bottom: 96px!important; }
.mb97 { margin-bottom: 97px!important; }
.mb98 { margin-bottom: 98px!important; }
.mb99 { margin-bottom: 99px!important; }
.mb100 { margin-bottom: 100px!important; }



/*==================
 マージン制御-左
====================*/
.ml0 { margin-left: 0px!important; }
.ml1 { margin-left: 1px!important; }
.ml2 { margin-left: 2px!important; }
.ml3 { margin-left: 3px!important; }
.ml4 { margin-left: 4px!important; }
.ml5 { margin-left: 5px!important; }
.ml6 { margin-left: 6px!important; }
.ml7 { margin-left: 7px!important; }
.ml8 { margin-left: 8px!important; }
.ml9 { margin-left: 9px!important; }
.ml10 { margin-left: 10px!important; }
.ml11 { margin-left: 11px!important; }
.ml12 { margin-left: 12px!important; }
.ml13 { margin-left: 13px!important; }
.ml14 { margin-left: 14px!important; }
.ml15 { margin-left: 15px!important; }
.ml16 { margin-left: 16px!important; }
.ml17 { margin-left: 17px!important; }
.ml18 { margin-left: 18px!important; }
.ml19 { margin-left: 19px!important; }
.ml20 { margin-left: 20px!important; }
.ml21 { margin-left: 21px!important; }
.ml22 { margin-left: 22px!important; }
.ml23 { margin-left: 23px!important; }
.ml24 { margin-left: 24px!important; }
.ml25 { margin-left: 25px!important; }
.ml26 { margin-left: 26px!important; }
.ml27 { margin-left: 27px!important; }
.ml28 { margin-left: 28px!important; }
.ml29 { margin-left: 29px!important; }
.ml30 { margin-left: 30px!important; }
.ml31 { margin-left: 31px!important; }
.ml32 { margin-left: 32px!important; }
.ml33 { margin-left: 33px!important; }
.ml34 { margin-left: 34px!important; }
.ml35 { margin-left: 35px!important; }
.ml36 { margin-left: 36px!important; }
.ml37 { margin-left: 37px!important; }
.ml38 { margin-left: 38px!important; }
.ml39 { margin-left: 39px!important; }
.ml40 { margin-left: 40px!important; }
.ml41 { margin-left: 41px!important; }
.ml42 { margin-left: 42px!important; }
.ml43 { margin-left: 43px!important; }
.ml44 { margin-left: 44px!important; }
.ml45 { margin-left: 45px!important; }
.ml46 { margin-left: 46px!important; }
.ml47 { margin-left: 47px!important; }
.ml48 { margin-left: 48px!important; }
.ml49 { margin-left: 49px!important; }
.ml50 { margin-left: 50px!important; }
.ml51 { margin-left: 51px!important; }
.ml52 { margin-left: 52px!important; }
.ml53 { margin-left: 53px!important; }
.ml54 { margin-left: 54px!important; }
.ml55 { margin-left: 55px!important; }
.ml56 { margin-left: 56px!important; }
.ml57 { margin-left: 57px!important; }
.ml58 { margin-left: 58px!important; }
.ml59 { margin-left: 59px!important; }
.ml60 { margin-left: 60px!important; }
.ml61 { margin-left: 61px!important; }
.ml62 { margin-left: 62px!important; }
.ml63 { margin-left: 63px!important; }
.ml64 { margin-left: 64px!important; }
.ml65 { margin-left: 65px!important; }
.ml66 { margin-left: 66px!important; }
.ml67 { margin-left: 67px!important; }
.ml68 { margin-left: 68px!important; }
.ml69 { margin-left: 69px!important; }
.ml70 { margin-left: 70px!important; }
.ml71 { margin-left: 71px!important; }
.ml72 { margin-left: 72px!important; }
.ml73 { margin-left: 73px!important; }
.ml74 { margin-left: 74px!important; }
.ml75 { margin-left: 75px!important; }
.ml76 { margin-left: 76px!important; }
.ml77 { margin-left: 77px!important; }
.ml78 { margin-left: 78px!important; }
.ml79 { margin-left: 79px!important; }
.ml80 { margin-left: 80px!important; }
.ml81 { margin-left: 81px!important; }
.ml82 { margin-left: 82px!important; }
.ml83 { margin-left: 83px!important; }
.ml84 { margin-left: 84px!important; }
.ml85 { margin-left: 85px!important; }
.ml86 { margin-left: 86px!important; }
.ml87 { margin-left: 87px!important; }
.ml88 { margin-left: 88px!important; }
.ml89 { margin-left: 89px!important; }
.ml90 { margin-left: 90px!important; }
.ml91 { margin-left: 91px!important; }
.ml92 { margin-left: 92px!important; }
.ml93 { margin-left: 93px!important; }
.ml94 { margin-left: 94px!important; }
.ml95 { margin-left: 95px!important; }
.ml96 { margin-left: 96px!important; }
.ml97 { margin-left: 97px!important; }
.ml98 { margin-left: 98px!important; }
.ml99 { margin-left: 99px!important; }
.ml100 { margin-left: 100px!important; }

.ml200 { margin-left: 200px!important; }





/* パディング制御
---------------------------------------*/
/*==================
 パディング制御-上
====================*/
.pt0 { padding-top: 0px!important; }
.pt1 { padding-top: 1px!important; }
.pt2 { padding-top: 2px!important; }
.pt3 { padding-top: 3px!important; }
.pt4 { padding-top: 4px!important; }
.pt5 { padding-top: 5px!important; }
.pt6 { padding-top: 6px!important; }
.pt7 { padding-top: 7px!important; }
.pt8 { padding-top: 8px!important; }
.pt9 { padding-top: 9px!important; }
.pt10 { padding-top: 10px!important; }
.pt11 { padding-top: 11px!important; }
.pt12 { padding-top: 12px!important; }
.pt13 { padding-top: 13px!important; }
.pt14 { padding-top: 14px!important; }
.pt15 { padding-top: 15px!important; }
.pt16 { padding-top: 16px!important; }
.pt17 { padding-top: 17px!important; }
.pt18 { padding-top: 18px!important; }
.pt19 { padding-top: 19px!important; }
.pt20 { padding-top: 20px!important; }
.pt21 { padding-top: 21px!important; }
.pt22 { padding-top: 22px!important; }
.pt23 { padding-top: 23px!important; }
.pt24 { padding-top: 24px!important; }
.pt25 { padding-top: 25px!important; }
.pt26 { padding-top: 26px!important; }
.pt27 { padding-top: 27px!important; }
.pt28 { padding-top: 28px!important; }
.pt29 { padding-top: 29px!important; }
.pt30 { padding-top: 30px!important; }
.pt31 { padding-top: 31px!important; }
.pt32 { padding-top: 32px!important; }
.pt33 { padding-top: 33px!important; }
.pt34 { padding-top: 34px!important; }
.pt35 { padding-top: 35px!important; }
.pt36 { padding-top: 36px!important; }
.pt37 { padding-top: 37px!important; }
.pt38 { padding-top: 38px!important; }
.pt39 { padding-top: 39px!important; }
.pt40 { padding-top: 40px!important; }
.pt41 { padding-top: 41px!important; }
.pt42 { padding-top: 42px!important; }
.pt43 { padding-top: 43px!important; }
.pt44 { padding-top: 44px!important; }
.pt45 { padding-top: 45px!important; }
.pt46 { padding-top: 46px!important; }
.pt47 { padding-top: 47px!important; }
.pt48 { padding-top: 48px!important; }
.pt49 { padding-top: 49px!important; }
.pt50 { padding-top: 50px!important; }
.pt51 { padding-top: 51px!important; }
.pt52 { padding-top: 52px!important; }
.pt53 { padding-top: 53px!important; }
.pt54 { padding-top: 54px!important; }
.pt55 { padding-top: 55px!important; }
.pt56 { padding-top: 56px!important; }
.pt57 { padding-top: 57px!important; }
.pt58 { padding-top: 58px!important; }
.pt59 { padding-top: 59px!important; }
.pt60 { padding-top: 60px!important; }
.pt61 { padding-top: 61px!important; }
.pt62 { padding-top: 62px!important; }
.pt63 { padding-top: 63px!important; }
.pt64 { padding-top: 64px!important; }
.pt65 { padding-top: 65px!important; }
.pt66 { padding-top: 66px!important; }
.pt67 { padding-top: 67px!important; }
.pt68 { padding-top: 68px!important; }
.pt69 { padding-top: 69px!important; }
.pt70 { padding-top: 70px!important; }
.pt71 { padding-top: 71px!important; }
.pt72 { padding-top: 72px!important; }
.pt73 { padding-top: 73px!important; }
.pt74 { padding-top: 74px!important; }
.pt75 { padding-top: 75px!important; }
.pt76 { padding-top: 76px!important; }
.pt77 { padding-top: 77px!important; }
.pt78 { padding-top: 78px!important; }
.pt79 { padding-top: 79px!important; }
.pt80 { padding-top: 80px!important; }
.pt81 { padding-top: 81px!important; }
.pt82 { padding-top: 82px!important; }
.pt83 { padding-top: 83px!important; }
.pt84 { padding-top: 84px!important; }
.pt85 { padding-top: 85px!important; }
.pt86 { padding-top: 86px!important; }
.pt87 { padding-top: 87px!important; }
.pt88 { padding-top: 88px!important; }
.pt89 { padding-top: 89px!important; }
.pt90 { padding-top: 90px!important; }
.pt91 { padding-top: 91px!important; }
.pt92 { padding-top: 92px!important; }
.pt93 { padding-top: 93px!important; }
.pt94 { padding-top: 94px!important; }
.pt95 { padding-top: 95px!important; }
.pt96 { padding-top: 96px!important; }
.pt97 { padding-top: 97px!important; }
.pt98 { padding-top: 98px!important; }
.pt99 { padding-top: 99px!important; }
.pt100 { padding-top: 100px!important; }


/*==================
 パディング制御-右
====================*/
.pr0 { padding-right: 0px!important; }
.pr1 { padding-right: 1px!important; }
.pr2 { padding-right: 2px!important; }
.pr3 { padding-right: 3px!important; }
.pr4 { padding-right: 4px!important; }
.pr5 { padding-right: 5px!important; }
.pr6 { padding-right: 6px!important; }
.pr7 { padding-right: 7px!important; }
.pr8 { padding-right: 8px!important; }
.pr9 { padding-right: 9px!important; }
.pr10 { padding-right: 10px!important; }
.pr11 { padding-right: 11px!important; }
.pr12 { padding-right: 12px!important; }
.pr13 { padding-right: 13px!important; }
.pr14 { padding-right: 14px!important; }
.pr15 { padding-right: 15px!important; }
.pr16 { padding-right: 16px!important; }
.pr17 { padding-right: 17px!important; }
.pr18 { padding-right: 18px!important; }
.pr19 { padding-right: 19px!important; }
.pr20 { padding-right: 20px!important; }
.pr21 { padding-right: 21px!important; }
.pr22 { padding-right: 22px!important; }
.pr23 { padding-right: 23px!important; }
.pr24 { padding-right: 24px!important; }
.pr25 { padding-right: 25px!important; }
.pr26 { padding-right: 26px!important; }
.pr27 { padding-right: 27px!important; }
.pr28 { padding-right: 28px!important; }
.pr29 { padding-right: 29px!important; }
.pr30 { padding-right: 30px!important; }
.pr31 { padding-right: 31px!important; }
.pr32 { padding-right: 32px!important; }
.pr33 { padding-right: 33px!important; }
.pr34 { padding-right: 34px!important; }
.pr35 { padding-right: 35px!important; }
.pr36 { padding-right: 36px!important; }
.pr37 { padding-right: 37px!important; }
.pr38 { padding-right: 38px!important; }
.pr39 { padding-right: 39px!important; }
.pr40 { padding-right: 40px!important; }
.pr41 { padding-right: 41px!important; }
.pr42 { padding-right: 42px!important; }
.pr43 { padding-right: 43px!important; }
.pr44 { padding-right: 44px!important; }
.pr45 { padding-right: 45px!important; }
.pr46 { padding-right: 46px!important; }
.pr47 { padding-right: 47px!important; }
.pr48 { padding-right: 48px!important; }
.pr49 { padding-right: 49px!important; }
.pr50 { padding-right: 50px!important; }
.pr51 { padding-right: 51px!important; }
.pr52 { padding-right: 52px!important; }
.pr53 { padding-right: 53px!important; }
.pr54 { padding-right: 54px!important; }
.pr55 { padding-right: 55px!important; }
.pr56 { padding-right: 56px!important; }
.pr57 { padding-right: 57px!important; }
.pr58 { padding-right: 58px!important; }
.pr59 { padding-right: 59px!important; }
.pr60 { padding-right: 60px!important; }
.pr61 { padding-right: 61px!important; }
.pr62 { padding-right: 62px!important; }
.pr63 { padding-right: 63px!important; }
.pr64 { padding-right: 64px!important; }
.pr65 { padding-right: 65px!important; }
.pr66 { padding-right: 66px!important; }
.pr67 { padding-right: 67px!important; }
.pr68 { padding-right: 68px!important; }
.pr69 { padding-right: 69px!important; }
.pr70 { padding-right: 70px!important; }
.pr71 { padding-right: 71px!important; }
.pr72 { padding-right: 72px!important; }
.pr73 { padding-right: 73px!important; }
.pr74 { padding-right: 74px!important; }
.pr75 { padding-right: 75px!important; }
.pr76 { padding-right: 76px!important; }
.pr77 { padding-right: 77px!important; }
.pr78 { padding-right: 78px!important; }
.pr79 { padding-right: 79px!important; }
.pr80 { padding-right: 80px!important; }
.pr81 { padding-right: 81px!important; }
.pr82 { padding-right: 82px!important; }
.pr83 { padding-right: 83px!important; }
.pr84 { padding-right: 84px!important; }
.pr85 { padding-right: 85px!important; }
.pr86 { padding-right: 86px!important; }
.pr87 { padding-right: 87px!important; }
.pr88 { padding-right: 88px!important; }
.pr89 { padding-right: 89px!important; }
.pr90 { padding-right: 90px!important; }
.pr91 { padding-right: 91px!important; }
.pr92 { padding-right: 92px!important; }
.pr93 { padding-right: 93px!important; }
.pr94 { padding-right: 94px!important; }
.pr95 { padding-right: 95px!important; }
.pr96 { padding-right: 96px!important; }
.pr97 { padding-right: 97px!important; }
.pr98 { padding-right: 98px!important; }
.pr99 { padding-right: 99px!important; }
.pr100 { padding-right: 100px!important; }


/*==================
 パディング制御-下
====================*/
.pb0 { padding-bottom: 0px!important; }
.pb1 { padding-bottom: 1px!important; }
.pb2 { padding-bottom: 2px!important; }
.pb3 { padding-bottom: 3px!important; }
.pb4 { padding-bottom: 4px!important; }
.pb5 { padding-bottom: 5px!important; }
.pb6 { padding-bottom: 6px!important; }
.pb7 { padding-bottom: 7px!important; }
.pb8 { padding-bottom: 8px!important; }
.pb9 { padding-bottom: 9px!important; }
.pb10 { padding-bottom: 10px!important; }
.pb11 { padding-bottom: 11px!important; }
.pb12 { padding-bottom: 12px!important; }
.pb13 { padding-bottom: 13px!important; }
.pb14 { padding-bottom: 14px!important; }
.pb15 { padding-bottom: 15px!important; }
.pb16 { padding-bottom: 16px!important; }
.pb17 { padding-bottom: 17px!important; }
.pb18 { padding-bottom: 18px!important; }
.pb19 { padding-bottom: 19px!important; }
.pb20 { padding-bottom: 20px!important; }
.pb21 { padding-bottom: 21px!important; }
.pb22 { padding-bottom: 22px!important; }
.pb23 { padding-bottom: 23px!important; }
.pb24 { padding-bottom: 24px!important; }
.pb25 { padding-bottom: 25px!important; }
.pb26 { padding-bottom: 26px!important; }
.pb27 { padding-bottom: 27px!important; }
.pb28 { padding-bottom: 28px!important; }
.pb29 { padding-bottom: 29px!important; }
.pb30 { padding-bottom: 30px!important; }
.pb31 { padding-bottom: 31px!important; }
.pb32 { padding-bottom: 32px!important; }
.pb33 { padding-bottom: 33px!important; }
.pb34 { padding-bottom: 34px!important; }
.pb35 { padding-bottom: 35px!important; }
.pb36 { padding-bottom: 36px!important; }
.pb37 { padding-bottom: 37px!important; }
.pb38 { padding-bottom: 38px!important; }
.pb39 { padding-bottom: 39px!important; }
.pb40 { padding-bottom: 40px!important; }
.pb41 { padding-bottom: 41px!important; }
.pb42 { padding-bottom: 42px!important; }
.pb43 { padding-bottom: 43px!important; }
.pb44 { padding-bottom: 44px!important; }
.pb45 { padding-bottom: 45px!important; }
.pb46 { padding-bottom: 46px!important; }
.pb47 { padding-bottom: 47px!important; }
.pb48 { padding-bottom: 48px!important; }
.pb49 { padding-bottom: 49px!important; }
.pb50 { padding-bottom: 50px!important; }
.pb51 { padding-bottom: 51px!important; }
.pb52 { padding-bottom: 52px!important; }
.pb53 { padding-bottom: 53px!important; }
.pb54 { padding-bottom: 54px!important; }
.pb55 { padding-bottom: 55px!important; }
.pb56 { padding-bottom: 56px!important; }
.pb57 { padding-bottom: 57px!important; }
.pb58 { padding-bottom: 58px!important; }
.pb59 { padding-bottom: 59px!important; }
.pb60 { padding-bottom: 60px!important; }
.pb61 { padding-bottom: 61px!important; }
.pb62 { padding-bottom: 62px!important; }
.pb63 { padding-bottom: 63px!important; }
.pb64 { padding-bottom: 64px!important; }
.pb65 { padding-bottom: 65px!important; }
.pb66 { padding-bottom: 66px!important; }
.pb67 { padding-bottom: 67px!important; }
.pb68 { padding-bottom: 68px!important; }
.pb69 { padding-bottom: 69px!important; }
.pb70 { padding-bottom: 70px!important; }
.pb71 { padding-bottom: 71px!important; }
.pb72 { padding-bottom: 72px!important; }
.pb73 { padding-bottom: 73px!important; }
.pb74 { padding-bottom: 74px!important; }
.pb75 { padding-bottom: 75px!important; }
.pb76 { padding-bottom: 76px!important; }
.pb77 { padding-bottom: 77px!important; }
.pb78 { padding-bottom: 78px!important; }
.pb79 { padding-bottom: 79px!important; }
.pb80 { padding-bottom: 80px!important; }
.pb81 { padding-bottom: 81px!important; }
.pb82 { padding-bottom: 82px!important; }
.pb83 { padding-bottom: 83px!important; }
.pb84 { padding-bottom: 84px!important; }
.pb85 { padding-bottom: 85px!important; }
.pb86 { padding-bottom: 86px!important; }
.pb87 { padding-bottom: 87px!important; }
.pb88 { padding-bottom: 88px!important; }
.pb89 { padding-bottom: 89px!important; }
.pb90 { padding-bottom: 90px!important; }
.pb91 { padding-bottom: 91px!important; }
.pb92 { padding-bottom: 92px!important; }
.pb93 { padding-bottom: 93px!important; }
.pb94 { padding-bottom: 94px!important; }
.pb95 { padding-bottom: 95px!important; }
.pb96 { padding-bottom: 96px!important; }
.pb97 { padding-bottom: 97px!important; }
.pb98 { padding-bottom: 98px!important; }
.pb99 { padding-bottom: 99px!important; }
.pb100 { padding-bottom: 100px!important; }


/*==================
 パディング制御-左
====================*/
.pl0 { padding-left: 0px!important; }
.pl1 { padding-left: 1px!important; }
.pl2 { padding-left: 2px!important; }
.pl3 { padding-left: 3px!important; }
.pl4 { padding-left: 4px!important; }
.pl5 { padding-left: 5px!important; }
.pl6 { padding-left: 6px!important; }
.pl7 { padding-left: 7px!important; }
.pl8 { padding-left: 8px!important; }
.pl9 { padding-left: 9px!important; }
.pl10 { padding-left: 10px!important; }
.pl11 { padding-left: 11px!important; }
.pl12 { padding-left: 12px!important; }
.pl13 { padding-left: 13px!important; }
.pl14 { padding-left: 14px!important; }
.pl15 { padding-left: 15px!important; }
.pl16 { padding-left: 16px!important; }
.pl17 { padding-left: 17px!important; }
.pl18 { padding-left: 18px!important; }
.pl19 { padding-left: 19px!important; }
.pl20 { padding-left: 20px!important; }
.pl21 { padding-left: 21px!important; }
.pl22 { padding-left: 22px!important; }
.pl23 { padding-left: 23px!important; }
.pl24 { padding-left: 24px!important; }
.pl25 { padding-left: 25px!important; }
.pl26 { padding-left: 26px!important; }
.pl27 { padding-left: 27px!important; }
.pl28 { padding-left: 28px!important; }
.pl29 { padding-left: 29px!important; }
.pl30 { padding-left: 30px!important; }
.pl31 { padding-left: 31px!important; }
.pl32 { padding-left: 32px!important; }
.pl33 { padding-left: 33px!important; }
.pl34 { padding-left: 34px!important; }
.pl35 { padding-left: 35px!important; }
.pl36 { padding-left: 36px!important; }
.pl37 { padding-left: 37px!important; }
.pl38 { padding-left: 38px!important; }
.pl39 { padding-left: 39px!important; }
.pl40 { padding-left: 40px!important; }
.pl41 { padding-left: 41px!important; }
.pl42 { padding-left: 42px!important; }
.pl43 { padding-left: 43px!important; }
.pl44 { padding-left: 44px!important; }
.pl45 { padding-left: 45px!important; }
.pl46 { padding-left: 46px!important; }
.pl47 { padding-left: 47px!important; }
.pl48 { padding-left: 48px!important; }
.pl49 { padding-left: 49px!important; }
.pl50 { padding-left: 50px!important; }
.pl51 { padding-left: 51px!important; }
.pl52 { padding-left: 52px!important; }
.pl53 { padding-left: 53px!important; }
.pl54 { padding-left: 54px!important; }
.pl55 { padding-left: 55px!important; }
.pl56 { padding-left: 56px!important; }
.pl57 { padding-left: 57px!important; }
.pl58 { padding-left: 58px!important; }
.pl59 { padding-left: 59px!important; }
.pl60 { padding-left: 60px!important; }
.pl61 { padding-left: 61px!important; }
.pl62 { padding-left: 62px!important; }
.pl63 { padding-left: 63px!important; }
.pl64 { padding-left: 64px!important; }
.pl65 { padding-left: 65px!important; }
.pl66 { padding-left: 66px!important; }
.pl67 { padding-left: 67px!important; }
.pl68 { padding-left: 68px!important; }
.pl69 { padding-left: 69px!important; }
.pl70 { padding-left: 70px!important; }
.pl71 { padding-left: 71px!important; }
.pl72 { padding-left: 72px!important; }
.pl73 { padding-left: 73px!important; }
.pl74 { padding-left: 74px!important; }
.pl75 { padding-left: 75px!important; }
.pl76 { padding-left: 76px!important; }
.pl77 { padding-left: 77px!important; }
.pl78 { padding-left: 78px!important; }
.pl79 { padding-left: 79px!important; }
.pl80 { padding-left: 80px!important; }
.pl81 { padding-left: 81px!important; }
.pl82 { padding-left: 82px!important; }
.pl83 { padding-left: 83px!important; }
.pl84 { padding-left: 84px!important; }
.pl85 { padding-left: 85px!important; }
.pl86 { padding-left: 86px!important; }
.pl87 { padding-left: 87px!important; }
.pl88 { padding-left: 88px!important; }
.pl89 { padding-left: 89px!important; }
.pl90 { padding-left: 90px!important; }
.pl91 { padding-left: 91px!important; }
.pl92 { padding-left: 92px!important; }
.pl93 { padding-left: 93px!important; }
.pl94 { padding-left: 94px!important; }
.pl95 { padding-left: 95px!important; }
.pl96 { padding-left: 96px!important; }
.pl97 { padding-left: 97px!important; }
.pl98 { padding-left: 98px!important; }
.pl99 { padding-left: 99px!important; }
.pl100 { padding-left: 100px!important; }




body {
  font-family:'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  position: relative;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  backface-visibility: hidden;
}
a img{
  opacity: 1;
  transition: 0.3s;
  -webkit-backface-visibility: hidden; /* 追加 */
  backface-visibility: hidden; /* 追加 */
}
a:hover img:not(.ov) {
  opacity: 0.7;
}
img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
}

hr {
  display:block;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid #BFBFBF;
}


button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

input[type="text"],
input[type="password"],
textarea,
select,
a:focus {
    outline: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignright {
	float: right;
	margin-left:20px;
}
.alignleft {
	float: left;
	margin-right:20px;
}

img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto;
    max-width: 100%;
}


.vbr{
  margin: 0.5em 0;
}

.autobr {
  display: inline-block;
}

.red {
  color:#F00!important;
}

.wrapper{
  min-width: 1280px;
}


.flexbox {
  	display:-webkit-box;
  	display:-ms-flexbox;
  	display:flex;
}

.w-48 {
  width: 48%;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

/*-----header-----*/
.header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  transition: 0.3s;
  z-index: 500;
}
.header.up{
  top: -73px;
}
.h-token{
  height: 72px;
}
.header-inner{
  position: relative;
  display: flex;
  /* width: 1140px; */
  margin: 0 auto;
  flex:2;
  padding: 15px 0;
  max-width: 1170px;
  align-items: center;
  padding-left: 5px;
}

.sitelogo{
  margin-right: 55px;
}
.sitelogo a{
  width: 218px;
  display: block;
}
.g-nav{
  display: flex;
  /*font-weight: bold;*/
  font-family:'NotoSansCJK-s', 'Noto Sans','メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', sans-serif;
}
.g-nav li{
  margin-right: 17px;
}
.g-nav li:last-child{
  margin-right: 0;
}
.g-nav li a{
  background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(243,154,36,1) 50%);
	background-position: 0 0;
	background-size: 201% auto;
	transition: 0.3s;
  padding: 0 1px;
}

.g-nav li a:hover{
  background-position: -100% 0;
  color: #FFF;
}

.g-nav li span{
  color: #777;
}
.g-nav li.current-menu-item{
  background-color: #f39a24;
}
.g-nav li.current-menu-item a{
  color: #fff;
  padding: 0 2px;
}
.g-nav li.current-menu-item a:hover{
  opacity: 1;
}
.luci{
  /* padding-left: 150px; */
  position: absolute;
  right:0;
}
.luci img{
  width: 91px;
  height: 27px;
}

/*----top-area----*/
.top-area{
  align-items: stretch;
  margin-bottom: 50px;
  overflow: hidden;
}
.top-area img{
  width: 100%;
}
.main-banner{
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 50%; /*正方形画像の余白*/
}

.slider {
  /* height: 0;
  padding-bottom: 50%; /*正方形画像の余白*/
}

.slider-logo {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 200;
  transform: translate(0%,-50%);
  color: #FFF;
  font-family: 'Noto Sans';
  font-size: 2.8rem;
  pointer-events: none;
}

.slider-logo img {
  width: 100%;
  height: 100%;

}

.sub-banner{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.sub-banner li{
  width: 50%;
}

/*--- main-area bxslider---*/

    /* ===============
    animation
    ================ */
    @-webkit-keyframes bgscale {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
    }

    @keyframes bgscale {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
    }

    /* ===============
    css
    ================ */

    .bx-wrapper {
      position: relative;
      -moz-box-shadow:  none!important;
      -webkit-box-shadow: none!important;
      box-shadow: none!important;
      border: none!important;
    }

    .bx-wrapper .bx-viewport {
    	-moz-box-shadow:  none!important;
    	-webkit-box-shadow: none!important;
    	box-shadow: none!important;
    	border: none!important;
    	left: 0;
      }


    .bx-wrapper .bx-pager {
      position: absolute;
      height: 20px!important;
      top: 2%!important;
      left: 2%!important;
      text-align: left!important;
      padding-top: 0!important;
      z-index: 400;
    }

    .bx-wrapper .bx-pager a {
      width: 8px!important;
      height: 8px!important;
      margin: 0 3px!important; /*●の間隔*/
      background: #222!important;
    }

    .bx-wrapper .bx-pager a.active,
    .bx-wrapper .bx-pager a.focus  {
      background: #FFF!important;
    }


    .slider li {
      width: 50%;
      -webkit-animation: bgscale 20s ease infinite;
      animation: bgscale 20s ease infinite;
    }


    .slider li a {
      display: block;
    }

    .slider-item {
      position: relative;
      width: 100%;
      padding-bottom: 100%; /*正方形画像の余白*/
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      }

    .slider-item--filter {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.15);
      transition: all 400ms 0s ease;
      overflow: hidden;
    }

    .slider li a:hover .slider-item--filter {
      background: rgba(0,0,0,.45);
    }


    /* オーバーでより暗くする; */

    /* .bx-wrapper::before {
      content: '';
      display: block;
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0);
      transition: all 400ms 0s ease;
      z-index: 100;
      color: #000;
    }

    .bx-wrapper:hover::before {
      cursor: pointer;
      background: rgba(0,0,0,.25);
    } */


  /* もしキャプション入れるとしたら; */
    .slider-desc {
      display: none;
      position: absolute;
      top:50%;
      right: 50%;
      transform: translateX(50%);
      z-index: 1000;
      color: #FFF;
    }




/*----共通----*/
.sec-ttl{
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.2;
  font-weight: normal;
}
.sec-ttl strong{
  display: block;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #000;
}
.sec-ttl span{
  display: block;
  margin-top: .5em;
  letter-spacing: 1.5px;
}
.btn{
  opacity: 1;
  transition: 0.3s;
  display: block;
}
.btn:hover{
  opacity: 0.7;
}
.btn-more{
  width: 360px;
  font-size: 16px;
  padding: 30px 0;
  text-align: center;
}
.inner-wrap{
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 30px; /*renew*/
  padding-right: 30px; /*renew*/
  overflow: hidden;
}
.inner-wrap--min{
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}
.sidebar{
  width: 260px;
  float: right;
}

.widget{
margin-bottom:20px;
}

.pager{
  text-align: center;
}
.pager a{
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #e0dace;
  border-radius: 50%;
}
.pager a:first-child,
.pager a:last-child{
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: #d4d4d2;
}
.pager a:not(:first-child):not(:last-child):hover{
  background-color: #000;
  color: #fff;
}
.pager a.current{
  background-color: #000;
  color: #fff;
}
.pager a span{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.al{
  text-align: left;
}
.three-col{
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.three-col:nth-child(3n){
  margin-right: 0;
}


.dis-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dis-flex-3col:after{
  content:' ';
  display: block;
  width: 32%;
}



/*----whatsnew----*/
.sec-whatsnew {
  margin: auto;
  background-color: #ececec;
}

.sec-whatsnew__inner {
  max-width: 1200px; /*1140+60*/
  margin: 0 auto;
  padding-top: 72px;
  padding-left: 30px; /*renew*/
  padding-right: 30px; /*renew*/
  padding-bottom: 30px;
  justify-content: space-between;
  overflow: hidden;
}

.sec-whatsnew__col {
  /* max-width: 650px; */
  /* margin: auto; */
}

.sec-whatsnew__ttl {
  display: inline-block;
  margin-bottom: 26px;
  padding: 6px 18px 4px;
  color: #FFF;
  font-size: 18px;
  background-color: #a0a0a0;
}
.whatsnew-list{
  margin-bottom: 10px;
}
.whatsnew-list a{
  display: block;
  margin-bottom: 8px;
}

.whatsnew-list a:hover{
  text-decoration: underline;
}

.whatsnew-list a:first-child{
  margin-bottom: 0;
}

.whatsnew-list li{
  margin-bottom: 10px;
}

.whatsnew-list dl{
  display: flex;
}
.whatsnew-list dt{
  /* width: 14%; */
  width: 94px;
  margin-right: 8px;
  font-style: italic;
  font-weight: bold;
}

.whatsnew-list__ddicon {
  /* width: 12%; */
  width: 78px;
  text-align: left;
  margin-right: 5px;
}

.whatsnew-list__ddlink {
  /* margin-left: 12px; */
  width: 70%;
  font-size: 13px;
}

.whatsnew-more{
  width: auto;
  display: block;
  float: right;
  margin-top: 5px;
  padding: 4px 32px 2px 25px;
  color: #fff;
  background-color: #f4a000;
}
.sec-whatsnew .sec-ttl span{
  font-size: 20px;
  color: #f4a000;
}


.seasonalbnr__list {
  width: 220px;
  padding: 0 4px;
}

.seasonalbnr__list li {
  margin-bottom: 16px;
}

.seasonalbnr__list li a img {
  border-radius: 4px;
}


.cvbnr__list {
  width: 220px;
  padding: 0 4px;
}

.cvbnr__list li {
  margin-bottom: 16px;
}

.cvbnr__list li a img {
  border-radius: 4px;
}


/*----solution----*/
.sec-solution{
  margin-bottom: 90px;
}
.solution-inner{
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 40px;
}
.solution-tab{
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.solution-tab li{
  width: 165px;
  position: relative;
  text-align: center;
}
.solution-tab li.active:after{
  position: absolute;
  bottom: -15px;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #f5b440;
}
.solution-tab li:hover{
  cursor: pointer;
}
.solution-tab-ttl{
  color: #5e5c53;
  font-size: 18px;
  margin-top: 5px;
}
.solution-tab li img{
  opacity: 1;
  transition: 0.3s;
  width: 60%;
  margin: 0 auto;
}
.solution-tab li img:hover{
  opacity: 0.7;
}
.solution-tab li a{
  display: block;
  margin: 0 auto;
}
.spec{
  width: 780px;
  margin: 0 auto;
}
.spec:not(:first-of-type){
  display: none;
}
.spec-ttl{
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}
.spec-lead{
  margin-bottom: 30px;
  text-align: justify;
}
.spec-btn{
  overflow: hidden;
}
.spec-more{
  display: block;
  padding: 30px 0;
  float: left;
  text-align: center;
}
.spec-more:first-child{
  background-color: #ff9933;
  float: left;
}
.spec-more:last-child{
  background-color: #ffcc33;
  float: right;
}




/*----products----*/
.sec-products{
  position:relative;
  height: 300px;
  margin-bottom: 60px;
  background: url(https://zero-to-one.luci.co.jp/wp-content/uploads/2017/05/products_bg.png) center center no-repeat;
  background-size: cover;
}
.sec-products .sec-ttl{
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.sec-products .sec-ttl strong {
  color: #FFF;
}


.products-more{
  position: absolute;
  top: 72%;
  left: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #ffcc33;
  text-align: center;
  padding: 30px 0;
}
.sec-products .sec-ttl{
  color: #fff;
}
.solution-icon{
  position: relative;
}
.solution-icon:before{
  content: "";
  position: absolute;
  width: 51%;
  height: 67%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}
.solution-icon.solution-icon1:before{
  background-image: url(img/common/solution_icon01_w.svg);
  width: 49%;
  height: 66%;
}
.solution-icon.solution-icon2:before{
  background-image: url(img/common/solution_icon02_w.svg);
}
.solution-icon.solution-icon3:before{
  background-image: url(img/common/solution_icon03_w.svg);
}
.solution-icon.solution-icon4:before{
  background-image: url(img/common/solution_icon04_w.svg);
}


/*----contents----*/
.contents{
  width: 1140px;
  margin: 0 auto 50px auto;
}
.card-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-list:before{
  content:' ';
  display: block;
  width:23%;
  order: 1;
}

.card-list:after{
  content:' ';
  display: block;
  width:23%;
}
.card-list-ttl{
  width: 100%;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.card-list-ttl span{
  position: relative;
}
.card-list-ttl span:before{
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "ー";
  color: #999999;
  font-size: 30px;
}
.card-list-ttl span:after{
  position: absolute;
  right: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "ー";
  color: #999999;
  font-size: 30px;
}

.detail-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail-card-list a {
  width: 24%;
}

.card-article{
  position: relative;
  width: 23%;
  margin-bottom: 50px;
}

.card-article-label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  display: block;
  background-color: #AAA;
  font-size:10px;
  color: #FFF;
  z-index: 50;
}

.card-article-label li{
  display: inline-block;
  margin-right: 3px;
}

.card-article-thum{
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #a0a0a0;
}
.card-article-thum img{
  width: 100%;
  height: 100%;
}
.card-article-thum:after{
  /* position: absolute;
  content: "";
  display: block;
  width: calc(100% + 1%);
  height: 100%;
  top: 1px;
  right: -2px;
  background: url(img/common/list_frame.svg) no-repeat;
  background-size: 100% 100%;
  fill: rgba(0,0,0,0); */
}
.card-article-data{
  color: #666666;
  font-style: italic;
}
.card-article-text{
  font-size: 16px;
  text-align: justify;
  overflow: hidden;
  margin-bottom: 10px;
}
.card-article-text p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card-article-tag li{
  margin-right: 8px;
  margin-bottom: 5px;
  display: inline-block;
  padding: 3px 5px;
  background-color: #ffcc66;
  font-size: 12px;
  border-radius: 0.3em;
  opacity: 1;
  transition: 0.3s;
}
.card-article-tag li:hover{
  opacity: 0.7;
}
.card-list--col3{
  width: 850px;
  justify-content: flex-start;
  margin-right: 30px;
}
.card-list--col3 .card-article{
  margin-right: 2%;
  width: 32%;
}
.card-list--col3 .card-article:nth-child(3n){
  margin-right: 0;
}
.inner-min{
  float: left;
}

/*サイドバナー*/
.sidebar-banner-area{
  margin-bottom: 40px;
}
.sidebar-banner a{
  position: relative;
  display: block;
  width:260px;
  height: 136px;
  background: url(https://zero_to_one.luci.co.jp/wp-content/uploads/2017/05/community-1.png) no-repeat;
  background-size:contain;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-banner a::after{
  content: ' ';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: all .3s;
}

.sidebar-banner a:hover::after{
  background: rgba(255, 255, 255, 0.3);
}

.sidebar-banner:last-child{
  margin-bottom: 0;
}
.sidebar-banner img{
  display: none;
}

.relation-tag{
  margin-bottom: 30px;
}

.relation-tag-ttl{
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
}
.relation-tag-list li{
  position: relative;
  display: inline-block;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 4px 7px 3px 7px;
  margin-bottom: 5px;
}
.relation-tag-list li a{
  position: relative;
  display: block;
  background-size: 12px;
  padding-left: 17px;
  padding-right: 4px;
  z-index: 20;
}
.relation-tag-list li a:before{
  position: absolute;
  left: -1px;
  font-family: FontAwesome;
  content: "\f02b";
  z-index: 40;
  color: #ffcc66;
}

/*ウィジェット*/

.widget-title{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}



.contents-more{
  padding: 25px 0;
  border: 5px solid #bfbfbf;
  text-align: center;
  margin: 0 auto;
}
.contents-more a{
  display: block;
}




/*----footer----*/
.footer{
  padding-top: 50px;
  padding-bottom: 10px;
  border-top: 1px solid #bfbfbf;
}
.footer-logo{
  text-align: center;
  margin-bottom: 25px;
}
.footer-logo img{
  width: 91px;
  height: 153px;
}

.copyright{
  text-align: center;
  font-size: 12px;
  margin-bottom: 35px;
}
.sns-area{
  display: flex;
  justify-content: center;
}
.sns-btn{
  margin-right: 5px;
}




/*pagetop*/
.pagetop {
  margin: 0 auto;
  display: none;
}
.pagetop img {
  width: 100%;
  display: block;
  width: 40px;
  position: fixed;
  bottom: 80px;
  right: 20px;
}


/*----pankuzu----*/
.pankuzu{
  margin-bottom: 50px;
  padding: 10px 0 10px 10px;
  background-color: #ececec;
}
.pankuzu-list{
  max-width: 1140px;
  /* width: 100%; */
  margin: 0 auto;
}
.pankuzu-list li{
  position: relative;
  display: inline-block;
}
.pankuzu-list li:after{
  content: "＞";
  margin-left: 10px;
}
.pankuzu-list li:last-child:after{
  content: none;
}
.pankuzu-list li a{
  text-decoration: underline;
  font-weight: bold;
}
.pankuzu-list li:last-child a{
  text-decoration: none;
  font-weight: normal;
}
.pankuzu-list li a:hover{
  text-decoration: none;
}


/*--- renew frontpage --*/

.front--grad {
  height: auto;
}

.front--grad__inner {
  padding: 0px 2% 0px;
}

.sticker__list {
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  transform: translateY(9%);
}

.sticker__list__item {
  width: 23.5%;
  background-color: rgba(235,147,8,1);
  position: relative;
}

.sticker__list__item a {
  display: block;
  border: 1px solid #FFF;
}

.sticker__list__item img {
  position: relative;
  width: auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  opacity: .82;
}

.sticker__list__item::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(-25%);
  width: 128px;
  height: 132px;
  overflow: hidden;
}

.sticker__list__item:first-child::after {
  content: url('img/top/stick1.svg');
}
.sticker__list__item:nth-child(2)::after {
  content: url('img/top/stick2.svg');
}
.sticker__list__item:nth-child(3)::after {
  content: url('img/top/stick3.svg');
}
.sticker__list__item:nth-child(4)::after {
  content: url('img/top/stick4.svg');
}



.sticker__list__item__bar {
  padding: 12px 0;
  background-color: #000;
  color: #FFF;
  font-size: 24px;
  text-align: center;
}



/*--- renew 電源 Iot ---*/

.header--grad {
  height: 150px;
  margin-top: -50px!important; /*pankuzu */
  text-align: center;
  align-items: center;
}

.header--grad__ttl {
  margin: 0 auto;
  font-size: 42px;
  font-weight: normal;
  color: #FFF;
}


.lay-diot {
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.lay-diot .detail-area {
  margin-top: 26px!important;
}


.lay-diot .detail-area li{
  margin-bottom: 48px;
}

.lay-diot .detail-area img {
  margin-bottom: 16px;
}


.lay-diot__sub-column {
  display: block;
}

.lay-diot__sub-column__block {
  margin-bottom: 32px;
}


.lay-diot__sub-column__h {
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: 400;
}

.lay-diot__download {
  flex-wrap: wrap;
  justify-content: space-between;
}

.lay-diot__download__item{
  width: 49.2%;
  background-color: #fdefd9;
  margin-bottom: 10px;
  padding: 14px 12px;
  border-radius: 4px;
}

.lay-diot__download__img {
  width: 28%;
  margin-right: 16px;
}

.lay-diot__download__txt {
  width: 72%;
  font-size: 12px;
  vertical-align: top;
}

.lay-diot__download__txt__title {
  font-size: 14px;
  font-weight: bold;
}

.lay-diot__sidenav {
  width: 200px;
  margin-top: 32px;
  margin-left: 60px;
}

.lay-diot__sidenav__bnr {
  display: block;
  margin-bottom: 20px;
}

.lay-diot__sidenav__title {
  color: #f39a24;
  font-weight: 400;
  margin-bottom: 16px;
}

.lay-diot__sub-column__subtitle {
  font-size: 18px;
  margin-bottom: 18px;
  padding-bottom: 12px;
  border-bottom: 1px solid #bfbfbf;
  font-weight: normal;
}

.lay-diot__sidenav__link__item {
  margin-bottom: 20px;
}

.lay-diot__sidenav__link__item__maina::before {
  content: ' ';
  display: inline-block;
  margin-right: 18px;
  width: 10px;
  height: 10px;
  background: #f39a24;
  border-radius: 50%;
}

.lay-diot__sidenav__link__item__maina {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

.lay-diot__sidenav__link__item__a {
  display: block;
  margin-bottom: 8px;
  margin-left: 28px;
  text-decoration: underline;
  cursor: pointer;
}

.lay-diot__sub-column__block table {
  border: 1px solid #AAA!important;
  border-collapse: collapse!important/;
}

.lay-diot__sub-column__block td {
  padding: 6px;
  border: 1px solid #AAA!important;
}


/*--- renew 検査 衛生 ---*/

.header--grad--high {
  height: 240px;
}

.header--grad--high__ttl {
  display: block;
  max-width: 1180px;
  padding: 12px 30px;
  text-align: left;
}

.lay-high__prolist {
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1180px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  margin-top: -150px;
  /* transform: translateY(-56%); */
}

.lay-high__prolist__item {
  width: 24%;
  background-color: #FFF;
}

.card-article-thum {
  margin-bottom: 12px;
}

.lay-high {
  max-width: 1180px;
  margin: auto;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  /* transform: translateY(-56%); */
}

.lay-high__sub-column__h {
  position: relative;
  padding-left: 42px;
  font-size: 24px;
  margin-bottom: 12px;
}

.lay-high__sub-column__h span {
  font-size: 18px;
}

.lay-high__sub-column__h::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: url('img/product/icon-pro-works.svg');
  display: inline-block;
  width: 36px;
  height: 37px;
  transform: translateY(-50%);
}

.lay-high__sub-column__h--d::before {
  content: url('img/product/icon-pro-note.svg');
}

.lay-high__inner {
  justify-content: space-between;
}

.lay-high__inner--works,
.lay-high__inner--downloads {
  width: 47.5%;
}

.lay-high__card-article {
  flex-wrap: wrap;
  justify-content: space-between;
}

.lay-high__card-article__item {
  display: block;
  width: 163px;
  margin-bottom: 20px;
}

.lay-high__card-article::after {
  content:"";
  display: block;
  width:163px;
}


.lay-high__card-article-thum {
  width: 163px;
}

.lay-high__card-article-text {
  margin-top: 6px;
  font-size: 14px;
  font-weight: bold;
}

.lay-high__download__item {
  width: 100%;
  padding: 14px 0 16px;
  border-bottom: 1px solid #a0a0a0;
  cursor: pointer;
}

.lay-high__download__item a {
  display: inline-block;
}

.lay-high__download__item:first-child {
  padding-top: 0;
}

.lay-high__download__item:last-child {
  border-bottom: none;
}

.lay-high__download__img{
  display: inline-block;
  width: 80px;
  margin-right: 16px;
  border: 1px solid #EEE;
}

.lay-high__download__txt {
  display: inline-block;
  vertical-align: top;
}

.lay-high__download__txt__title {
  font-weight: bold;
}

.lay-high__download__txt__title::before {
  content: '>';
  margin-right: 4px;
}

.lay-high__download__txt__desc {
  margin-top: 6px;
  color: #575757;
}

/*----categorypage----*/
.categorypage-ttl{
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.4;
  font-weight: normal;
  font-family: 'Noto Sans', sans-serif;
  color: #000;
}
.categorypage-ttl--border{
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 50px;
}
.categorypage-ttl strong{
  font-size: 48px;
  display: block;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}
.categorypage-ttl span{
  letter-spacing: 1.5px;
}
.low-banner {
  margin-top: 40px;
  padding: 20px 0;
  background-color: #ececec;
}
.low-banner-list {
  width: 780px;
  /* width: 480px; */
  margin: 0 auto;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}


.low-banner-list a{
  display: block;
  width: 220px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.low-banner-list li a img {
  border-radius: 4px;
}


/*----detail----*/
body.page  .detail-area{
  /* width: 750px; */
  width: 750px;
  /* float: left;
  margin-right: 30px; */
  margin: 0 auto;
  padding-left: 30px;
}

body.single  .detail-area{
  width: 750px;
  float: left;
  margin-right: 30px;
}

.detail-head{
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #bfbfbf;
}
.detail-info{
  margin-bottom: 15px;
}

.detail-label{
  display: inline-block;
  margin-right: 15px;
  padding:12px;
  background: #333;
  color: #FFF;
  font-size: 10px;
}

.detail-data{
  display: inline-block;
  color: #666666;
  font-style: italic;
}
.detail-ttl{
  font-size: 24px;
  margin-bottom: 10px;
}
.detail-tag li{
  margin-right: 5px;
  padding: 3px 5px;
  background-color: #ffcc66;
  font-size: 12px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
}
.detail-content p{
  font-size: 16px;
  line-height: 1.7;
}
.detail-content img{
  max-width: 100%;
  height: auto;
  margin: 40px 0;
}

.detail-content img.sizenul {
  max-width: none;
  margin: 0;
}

.mass{
  margin-bottom: 50px;
}
.mass-ttl{
  margin-bottom: 10px;
  font-size: 26px;
  color: #333333;
}
.mass-text{
  font-size: 16px;
  text-align: justify;
}

.detail-relation{
  margin-top: 50px;
}

.detail-relation a{
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

.detail-relation-thumbnail img{
  width:107px;
  height:82px;
}

.detail-relation-tll{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.detail-relation-list dt{
  position: relative;
  float: left;
  margin-right: 20px;
}
.detail-relation-list dt:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 28px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}

.detail-relation-list dt:after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 1px;
  right: 0;
  background: url(img/common/list_frame.svg) no-repeat;
  background-size: 100% 100%;
  fill: rgba(0,0,0,0);
}
.detail-relation-data{
  color: #666666;
  font-style: italic;
}
.detail-relation-text{
  font-size: 16px;
}
.detail-relation-text{
  text-decoration: underline;
}
.detail-relation-text:hover{
  text-decoration: none;
}

/*検索*/
.searchform{
font-family: FontAwesome;
}

/*---detail Products LP ---*/

.proLP-detail-head {
  position: relative;
  margin-top: -50px; /* pankuzu reset */
  width:100%;
  height: 245px;
  line-height: 245px;
  background-position: top;
  text-align: center;
}

.proLP-detail-ttl {
  text-indent: -9999px;
  overflow: hidden;
}

.proLP-detail-logo {
  display: inline-block;
  text-align: left;
}

.proLP-detail-logo img {
  max-height: 120px;
  width: auto;
}

.proLP-inner-wrap {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom:20px;
}


/*masonry*/
.grid-item,
.grid-sizer {
  width: 48%;
  margin: 1%;
}


.proLP-inner-head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 120px;
  margin-bottom: 32px;
}

.proLP-detail-kanren {
  display: block;
  cursor: pointer;
  opacity: 1;
}

.proLP-detail-kanren:hover {
  opacity: .8;
}

.proLP-detail-kanren__inner {
  display: inline-block;
  padding-left: 24px;
}

.proLP-detail-kanren__inner img {
  width: 140px;
  height: 107px;
}

.proLP-detail-kanren__title {
  color: #f5b440;
}

.proLP-detail-kanren__inner p:hover {
  text-decoration: underline;
}

.proLP-detail-pimg {
  /* display: inline-block; */
  /* width: 48%; */
  /* margin-right: 3%; */
  border: 1px solid #CCC;
    /* margin: -20px 1.45%; */
  /*border: 1px solid #BFBFBF;*/
  /*vertical-align: top;*/
}

.proLP-detail-textarea,
.proLP-detail-pricearea {
  /* display: inline-block; */
  /* width: 48%; */
  /* width: 48.5%; */
  /* padding-left: 1%; */
  vertical-align: top;
}

.proLP-detail-textarea-subttl {
  margin-bottom: 24px;
  padding: 0.8em 0;
  font-size: 22px;
  color: #333366;
  font-weight:  normal;
  text-align: center;
  background-color: #ececec;
}

.proLP-detail-textarea-desc {
  margin-bottom: 16px;
}

.proLP-detail-featurelist__item {
  display: flex;
  margin-bottom: 18px;
  font-weight: normal;
}

.proLP-detail-featurelist__item img {
  width: 45px;
  height: 44px;
}

.proLP-detail-featurelist__item p {
  display: inline-block;
  width: 380px;
  padding-left: 10px;
  vertical-align: top;
}

.proLP-detail-pricearea {
  /* width: 48%;
  margin-right: 3%; */
  margin-bottom: 50px;
}

.proLP-detail-contactarea {
  /* display: inline-block;
  width: 48%; */
  margin-top: 20px;
}

.proLP-detail-pimg2 {
  display: inline-block;
  border: none;
  /* width: 48%; */
  /* margin-right:3%; */
  vertical-align: top;
}

.proLP-detail-dlistbox {
  display: inline-block;
  /* width: 48%; */
  background-color: #ededed;
  border-radius: 8px;
}

.proLP-detail-dlistbox-title {
  padding: 12px 24px 8px;
  border-bottom: 1px solid #FFF;
  color:#1d1d1d;
  font-size: 16px;
  font-weight: normal;
}

.proLP-detail-dlistbox-list {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 24px 4px;
}

.proLP-detail-dlistbox-list-item {
  flex-basis: 50%;
  padding-bottom: 12px;
}

.proLP-detail-dlistbox-list-item a{
  display: block;
  width: 100%;
  position: relative;
  vertical-align: top;
  padding-top: 0.5%;
  padding-left: calc(0.8em + 26px);
}

.proLP-detail-dlistbox-list-item a::before {
  content:url(img/common/icon_download.png);
  position: absolute;
  top:0;
  left:0;
  width: 26px;
  height:22px;
}


.proLP-detail-box-ttl {
  margin-top: 32px;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #BFBFBF;
  font-size: 18px;
  font-weight: normal;
}

.btn-contact {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 25px;
  border: 6px solid #f39a24;
  color: #f39a24;
  font-size: 18px;
  text-align: center;
}


.proLP-detail-formarea-flo-sum {
  margin: 20px 0 10px;
  font-size: 16px;
  font-weight: bold;
}




 /*--- ONLINE EXPO ----*/

.online-wrapper {
  position: absolute;
  top: 72px;
  width: 100vw;
  /* height: 100vh; */
  padding-top: 15px;
  /* margin-top: -50px; */
}

.online-wrapper__inner {
  /* height: 100vh;
  overflow-y: scroll; */
}

.bkg {
  position: absolute;
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-size: cover;
  background-attachment: fixed;
}

.bkg img {
  height: 100%;
}

.bkg--single {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .7;
}


.bkg::after,
.bkg--single::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #FFF;
  opacity: .59;
}



.online-first {
  /* padding-top: 20px; */
}

.online-first__title p {
  max-width: 480px;
  width: 100%;
  margin: auto;
}

.online-first__desc {
  max-width: 460px;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #231815;
}

.online-first__slidesec {
  margin: 32px 0;
}


/* swiper */

.swiper-div {
  position: relative;
  margin-bottom: 80px;  /*arrow*/
}

.swiper-container {
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  width: 240px!important;
}

.swiper-slide img {
  text-align: left;
}

.swiper-slide-active{
    /* opacity: 0.5; */
}


.swiper-slide::hover img {
  opacity: 1!important;
}

.swiper-button-prev,
.swiper-button-next {
  outline: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:before {
  content: ' ';
  background: url('./img/online/slider-prev.png') top left no-repeat;
  background-size: contain;
  display: block;
  width: 38px;
  height: 13px;
}

.swiper-button-next:before {
  content: ' ';
  background: url('./img/online/slider-next.png') top right no-repeat;
  background-size: contain;
  display: block;
  width: 38px;
  height: 13px;
}


.online-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  display: flex;
  width: 360px;
  margin: auto;
}

.online-nav .swiper-button-prev,
.online-nav .swiper-button-next {
  width: 72px;
}

.expo-footer {
  width: 100%;
  background: #f8a300;
}

.expo-footer__inner {
  max-width: 1040px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: center;
}

.expo-footer__inner p {
  width: 320px;
}

.expo-footer__link {
  height: 56px;
  line-height: 52px;
  padding: 0 12px;
  border-radius: 10px;
  border: 3px solid #FFF;
  align-items: center;
  font-size: 16px;
  color: #FFF;
  background: #ff9305;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {

 /* iPadが縦向きのみの記述 */

  .expo-footer {
    position: fixed;
    bottom:0;
    height: 120px;
 }

 .nav-online {
   position: fixed;
   bottom: 120px;
 }

 .bkg--single, .bkg {
   min-height: 1200px;
 }

 .online-single-list__item {
   width: 48%!important;
 }

 .expo-footer__inner {
   flex-wrap: nowrap!important;
 }

 .expo-footer__link {
   width: 48%!important;
 }

}


.online-single {
  position: relative;
  max-width: 1140px;
  margin: auto;
  padding: 0 16px;
}

.online-single::after {
  content: url(./img/online/img-online-title-side.svg);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


.online-backLink {
  margin-top: 15px;
  font-size: 14px;
}

.online-backLink img {
  width: 17px;
  vertical-align: middle;
}


.online-single__header {
  display: flex;
  margin-top: 12px;
  align-items: flex-start;
  max-width: 574px;
  color: #000;
}

.online-single__header__num {
  margin-top: 2px;
  margin-right: 14px;
  font-size: 70px;
  line-height: 64px;
  font-style: italic;
  font-weight: normal;
}

.online-single__header__txt {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0.06em;
  vertical-align: top;
}

.online-single__header__txt span {
  margin-left: 4px;
  vertical-align: middle;
  font-size: 26px;
}

.online-single__header__txt--main {
  display: block;
}

.online-single__header__txt--sub {
  display: block;
  width: fit-content;
  margin-top: -7px;
  padding: 0 4px;
  background: #000;
  line-height: 20px;
  font-size: 10px;
  color: #FFF;
}


.online-single-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 16px;
}

.online-single-list__item {
  width: 32%;
  margin-bottom: 26px;
  border: 1px solid #FFF;
  background-color: #FFF;
  box-shadow:
    -4px 4px 12px rgba(230, 180, 15, 0.2),
    4px -4px 12px rgba(255, 231, 15, 0.2);
  overflow: hidden;
  cursor: pointer;
}


.online-single-list::after{
  content:" ";
  display: block;
  width:32%;
}


.online-single-list__item__title {
  background-color: #f5b440;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight:bold;
  letter-spacing: 0.08em;
  z-index: 1000;
}

.bkg--single-img {
  opacity: 0.4;
}

.nav-online {
  width: 100%;
  margin-top: 32px;
  padding: 24px 18px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}


.nav-online__inner {
  display: flex;
  max-width: 804px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
}

.nav-online__item {
  position: relative;
  width: 15.5%;

}

.nav-online__item__img {
  background-color: #000;
}

.nav-online__item__img img {
  opacity: .7;
}

.nav-online__item__num {
  position: absolute;
  top: 0;
  left: 7px;
  color: #FFF;
  z-index: 100;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}

.nav-online__item__txt {
  text-align: center;
}


/* scroll fade */

.scroll-fade {
  opacity: 0; /*初期*/
}


/* remodal */


.remodal {

  background: rgba(255, 255, 255, 1)!important;
  padding: 56px!important;
}

.remodal-overlay {
  background: rgba(255, 255, 255, 0.5)!important;
  -webkit-backdrop-filter: blur(3px)!important;
  backdrop-filter: blur(3px)!important;
}


.remodal-close {
  top: 16px!important;
  left: auto!important;
  right: 16px;
  height: 18px!important;
}

.remodal-close:hover::before {
  transform: rotate(360deg);
  transition: .8s ease-out;
  transition-delay: -.2s;
}


.remodal-close:before {
  content: url('./img/common/close.svg')!important;
  line-height: 18px!important;
  width: 18px!important;
  top:0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  margin: auto;
}



@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 800px!important;
    width: 95%!important;
  }
}



.online-detail__title {
  margin-bottom: 26px;
  font-size: 28px;
  font-weight: normal;
  text-align: left;
  color: #000;
}

.online-detail__intro {
  display: flex;
  justify-content: space-between;
}


.online-detail__pimg__wrap {
  width: 40%;
  display: block;
}

.online-detail__pimg {
  display: block;
  margin-bottom: 12px;
  border: 2px solid #f5b440;
  transition: .2s all ease-in;
  box-sizing: border-box;
  overflow: hidden;
}

.online-detail__pimg__link__wrap {
  width: 100%;
  margin-top: 18px;
  text-align: right;
}

.online-detail__pimg__link {
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: #FFF;
  border: 1px solid #f5b440;
  border-radius: 4px;
}

.online-detail__pimg__link .icon {
  position: absolute;
  top:0;
  left:0;
  display: inline-block;
  margin-right: 4px;
  padding: 0px 6px;
  height: 100%;
  background: #f5b440;;
}

.online-detail__pimg__link .icon img {
  width: 14px;
}

.online-detail__pimg__link .txt {
  padding: 0 15px 0 40px;
  font-size: 15px;
  font-weight: bold;
  color: #f2a110;
}

.online-detail__hbox {
  width: 60%;
  padding-left: 32px;
}

.online-detail__h {
  padding-bottom: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .05em;
}

.online-detail__txt {
  text-align: left;
  font-size: 14px;
  line-height: 1.8;
}

.online-detail__subh {
  position: relative;
  margin-top: 24px;
  margin-bottom: 11px;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
  letter-spacing: .05em;
  border-bottom: 2px solid #DDD;
}

.online-detail__subh::before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 70px;
  height: 2px;
  display: block;
  background-color: #f5b440;
}

.online-detail__second {
  margin-top: 20px;
}

.online-detail__second img {
  width: auto;
}

.online-detail__movie {
  margin-top: 20px;
}

.embed-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.online-detail__closebnr {
  margin-top: 32px;
  max-width: 420px;
  padding: 20px 52px;
  font-size: 16px;
  letter-spacing: .04em;
  background-color: #f5b440;
}


/*----solution-page----*/
.sideways{
  width: 1140px;
  margin: 0 auto 40px auto;
  padding-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px solid #bfbfbf;
}
.sideways:last-child{
  margin-bottom: 0;
  border-bottom: none;
}
.sideways-thum{
  position: relative;
  margin-right: 50px;
  float: left;
  padding: 20px 0 0 20px;
  background: url(img/common/triangle.png) left top no-repeat;
}
.sideways-inner{
  width: 750px;
  float: left;
}
.sideways-ttl{
  margin-bottom:20px;
  font-size: 36px;
  line-height: 1.2;
}
.sideways-lead{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
}
.sideways-lead:before{
  display: inline-block;
  content: " ";
  width: 16px;
  height:16px;
  margin-bottom: 2px;
  margin-right: 8px;
  background:#ff9933;
  border-radius: 50%;
  vertical-align: middle;
}
.sideways-text{
  margin-bottom: 30px;
  text-align: justify;
}
.sideways-btn{
  overflow: hidden;
}
.sideways-btn a:first-child{
  float: left;
  background-color: #ff9933;
}
/* .sideways-btn a:last-child{
  float: right;
  background-color: #ffcc33;
} */



/*----download----*/
.download-ttl{
  background-color: #fbdaa8;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 10px;
}
.download-col-inner{
  padding: 20px 0;
  text-align: center;
}
.download-col{
  border: 1px solid #bfbfbf;
}
.download-thum{
  margin-bottom: 5px;
}

.download-thum img{
  width:50%;
  height: auto;
}

.download-text{
  text-decoration: underline;
  padding: 0 5px;
  word-break: break-all;
}
.download-text:hover{
  text-decoration: none;
}

/*----contact----*/

.contact-ttl{
  margin-bottom: 20px;
  color: #f39a24;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Noto Sans', sans-serif;
}

.contact-text{
  margin-bottom: 20px;
}

.contact-text a{
  text-decoration: underline;
}


.wpcf7-form{
  background-color: #EEE;
  padding: 10px 30px 30px;
}

.wpcf7 h4{
  margin-top: 20px;
  color: #000;
  font-weight: bold;
}

.wpcf7 dl{
  display: table;
  padding: 1px;
}

.wpcf7 dt{
  display: table-cell;
  width: 220px;
  padding: 10px;
  background-color: #ffbd48;
  color: #333;
}

.wpcf7 dt .hissu{
  font-size: 12px;
  color: #f22424;
}

.wpcf7 dd{
  display: table-cell;
  width: 460px;
  padding: 10px;
  background-color: #FFF;
  color: #333;
}

form input,select,textarea{
  width:100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.submit-btn{
  width: 100%;
  margin-top:20px;
  text-align: center;
}

.submit-btn input {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}  

.submit-btn .wpcf7-submit{
  width:50%;
  padding: 20px;
  background: #49a5ff;
  color: #FFF;
}

.wpcf7-submit:hover{
  cursor: pointer;
  opacity: 0.8;
}

.wpcf7-mail-sent-ok{
  font-size: 20px;
}



.pc-on{
  display: block;
}
.sp-on{
  display: none;
}


/* pardot */

form input[name="field_3592798_1"],
form input[name="field_3592798_2"],
form input[name="field_3592798_3"]
{
  width: auto;
} 

.form-title {
  font-weight: bold;
  margin-top: 20px;
}


/*----jirei----*/

.jireiLP-detail-pimg .caption-wrap{
  background:none!important;
}

.jireiLP-detail-pimg .caption{
  color: #000000;
  margin-bottom:-50px;
}

.jireiLP-detail-pimg .ms-image{
  margin-top:60px!important;
}

.jireiLP-detail-pimg .ms-image:first-of-type{
  margin-top:0px!important;
}

.jireiLP-detail-wrapper,.jireiLP-detail-relation{
  /* width: 1140px; */
  width: 1040px;
  margin:0 auto;
}

.card-article-label--jirei {
 /*【導入事例】カテゴリ表示のスタイルがあれば追記*/
}


.jireiLP-detail-ttl{
  border-bottom: 2px dotted #F29D3D;
  margin-bottom: 54px;
  padding-bottom: 15px;
  text-indent: 0px;
  font-size: 2em;
  font-weight: normal;
}

h2.jireiLP-inner-vi-sub-title{
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 36px;
}

h3.jireiLP-inner-vi-prof-title{
  color: #F29D3D;
  font-size: 1rem;
  padding-bottom: 3px;
}

.jireiLP-inner-vi-prof-desc img {
  width: auto;
  max-width: 100%;
  display: block;
}

h3.jireiLP-detail-textarea-inner-title{
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.3em;
  padding-bottom: 30px;
}

h3.jireiLP-detail-bnrlist-title{
  font-size: 18px;
  font-weight: normal;
  padding: 90px 0 6px;
  margin-bottom: 21px;
  border-bottom: 1px solid #333333;
}

.jireiLP-detail-textarea-inner{
    padding-bottom: 80px;
}

.jireiLP-inner-vi{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jireiLP-inner-vi-main{
  width: 100%;
  /* max-width: 536px; */
  max-width: 486px;
}

.jireiLP-inner-vi-sub{
  width: 48%;
  border-bottom: 1px solid #F29D3D;
  margin-bottom:25px;
}
p.jireiLP-detail-herocomment{
  padding-top: 10px;
}
p.jireiLP-inner-vi-sub-desc{
  padding-bottom: 38px;
}

.jireiLP-inner-wrap{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.jireiLP-detail-pimg{
  width: 100%;
  max-width: 486px;
}


.card-article-label--jirei{
  display: block;
  width: 67px;
  margin-bottom: 15px;
}

.jireiLP-detail-bnrlist-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.jireiLP-detail-bnrlist-inner::after{
  content:"";
  display: block;
  width:32%;
}

.jireiLP-detail-bnrlist-item{
  /* max-width: 360px; */
}

.jireiLP-detail-bnrlist-item {
  width: 32%;
  margin-left: 1.5%;
}

.jireiLP-detail-bnrlist-item:first-child {
  margin-left: 0;
}


.jireiLP-detail-pimg-wrap{
  width: 100%;
  /* max-width: 536px; */
  max-width: 486px;
}
.jireiLP-detail-textarea{
  width: 48%;
}

.jireiLP-detail-margintop{
  margin-top: 50px;
}




/*metaslider制御*/

@media screen and (min-width: 985px){

.jireiLP-detail-wrapper  .slides > li {
    opacity: 1!important;
    margin-right: 0!important;
    margin-bottom: 30px!important;
  }

.jireiLP-detail-wrapper .flex-control-nav {
    display: none;
  }

}






































/*-----Media Queries-----*/
@media screen and (max-width: 1170px){
  .seasonalbnr__list,
  .cvbnr__list {
    width: 190px;
  }
}

@media screen and (max-width: 1105px){
  .seasonalbnr__list,
  .cvbnr__list {
    width: 160px;
  }

  .lay-high__card-article {
    flex-wrap: wrap;
  }

  .lay-high__card-article__item {
    width: 48%;
  }
  .lay-high__card-article-thum {
    width: 100%;
    min-width: 100%;
  }


}

@media screen and (max-width: 1050px){
  .seasonalbnr__list,
  .cvbnr__list {
    width: 140px;
  }


}

@media screen and (min-width: 985px){
  .header .g-nav{
    display: flex !important;
  }
}

@media screen and (max-width: 984px){

  .sec-whatsnew__col {
    max-width: 690px;
    padding-right: 20px;
  }
  .sec-whatsnew__ttl {
    font-size: 14px;
  }

  .whatsnew-list dt {
    font-size: 12px;
  }

  .whatsnew-list__ddlink {
    display: block;
  }

  .menu-trigger{
    position: fixed;
    top: 5px;
    right: 5px;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    z-index: 550;
    border-radius: 50%;
    border: 2px solid #333;
  }
  .menu-trigger span{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 20px;
  }
  .menu-trigger span:nth-of-type(1){
    top: 10px;
    left: 20%;
    width: 60%;
  }
  .menu-trigger span:nth-of-type(2){
    top: 47%;
    left: 20%;
    width: 60%;
  }
  .menu-trigger span:nth-of-type(3){
    bottom: 9px;
    left: 20%;
    width: 60%;
  }
  .menu-trigger.active span:nth-of-type(1){
    -webkit-transform: translateY(7px) rotate(-315deg);
    transform: translateY(7px) rotate(-315deg);
  }
  .menu-trigger.active span:nth-of-type(2){
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3){
    -webkit-transform: translateY(-7px) rotate(315deg);
    transform: translateY(-7px) rotate(315deg);
  }
  .h-token{
    height: 47px;
  }
  .header.up{
    top: 0;
  }
  .header-inner{
    width: auto;
    max-width: 100%;
    padding: 6px;
  }
  .luci{
    display: none;
  }
  .g-nav{
    display: none;
    position: fixed;
    width: 100%;
    top: 48px;
    left: 0;
    margin-right: 0;
    height: 100vh;
    background: rgba(0,0,0,0.7);
  }
  .g-nav li{
    position: relative;
    margin-right: 0;
    background-color: #fff;
    border-top: 1px solid #e0dace;
  }
  .g-nav li:after{
    content: "";
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    height: 23px;
    display: block;
    background: url(img/common/next.png) no-repeat;
    background-size: cover;
  }
  .g-nav li a{
    display: block;
    padding: 10px 0 10px 20px;
  }
  .g-nav li.current-menu-item a{
    padding: 10px 0 10px 20px;
  }
  .inner-wrap{
    width: auto;
  }
  .card-list--col3{
    width: auto;
    margin-right: 0;
  }
  .sidebar{
    width: auto;
    margin: 50px 15px 0 15px;
    margin-top: 50px;
    float: none;
  }

  .sidebar-banner{
    margin-bottom: 10%;
  }

  .sidebar-banner a{
    background: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .sidebar-banner a::after{
    display: none;
  }

  .sidebar-banner a:hover::after{
    display: none;
  }

  .sidebar-banner img{
    display: block;
    width: 100%;
  }
  .contents{
    width: auto;
  }
  .card-list{
    padding: 0 15px 15px 15px;
    justify-content: flex-start;
  }

  .detail-card-list a {
    width: 48%;
    margin-bottom: 5%;
  }

  .card-article{
    width: 32%;
    margin-right: 2%;
    margin-bottom: 30px;
  }
  .card-article:nth-child(3n){
    margin-right: 0;
  }

  .card-article-text{
    font-size: 16px;
    text-align:left;
  }


  .pagetop img{
    width: 30px;
    right: 20px;
    bottom: 70px;
    margin-left: 0;
  }
  .footer{
    padding: 30px 0;
  }
  .dis-flex{
    padding: 0 15px;
  }
}

@media screen and (max-width: 912px){

  .sec-whatsnew__inner {
      flex-wrap: wrap;
  }
  .sec-whatsnew__col {
    max-width: none;
    width: 100%;
    margin-bottom: 14%;
  }


  .whatsnew-more {
    width: 80%;
    margin: auto;
    margin-bottom: 8%;
    padding: 20px;
    font-size: 16px;
  }

  .seasonalbnr__list, .cvbnr__list {
    width: auto!important;
    /* width: 48%; */
    text-align: center;
  }

  .seasonalbnr__list li, .cvbnr__list li {
    display: inline-block;
    width: 48%;
    padding: 0 5px;
  }

  .low-banner-list a{
    /* width: auto; */
  }

  .seasonalbnr__list li{
    display: inline-block;
    /* width: 47%; */
  }

    .sec-whatsnew,
    .sec-whatsnew__inner {
      width: auto;
      max-width: none;
    }

    .sec-whatsnew__inner {
      flex-wrap: wrap;
      padding-top: 8.4%;
      padding-left: 22px;
      padding-right: 22px;
    }

    .sec-whatsnew__col {
      max-width: 100%;
    }

    .whatsnew-list {
      /* max-height: 300px; */
    }
    .whatsnew-list a {
      margin-bottom: 0;
    }

    .whatsnew-list dl {
      padding: 15px 0;
      display: block;
      border-top: 1px solid #7d7d7d;
      margin-bottom: 0;
      font-size: 16px;
    }
    .whatsnew-list dt {
      width: auto;
      margin-right: 3%;
      display: inline-block;
      font-size: 18px;
      vertical-align: middle;
    }

    .whatsnew-list__ddicon {
      width: 8%;
      margin-bottom: 3%;
      display: inline-block;
      vertical-align: top;
    }

    .whatsnew-list__ddlink {
      width: 100%;
      font-size: 16px;
    }

    .whatsnew-more{
      float: none;
    }

}

@media screen and (max-width: 779px){
  .sp-on{
    display: block;
  }
  .pc-on{
    display: none;
  }
  .sec-ttl{
    margin-bottom: 15px;
    font-size: 13px;
  }
  .sec-ttl strong{
    font-size: 28px;
  }
  .main-banner{
    /* width: auto;
    float: none; */
    width: 100%;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 5%;
  }


  body.page .detail-area {
    width: 100%!important;
    padding-left: 12px;
    padding-right: 12px;
  }


  .detail-content p {
    font-size: 14px;
  }


  .slider-logo {
    /* transform: translate(50%,-50%); */
  }

  .bx-wrapper .bx-pager{
    top:auto!important;
    bottom: 5%!important;
    text-align: center!important;
  }


  .bx-wrapper {
    margin-bottom: 0px!important;
  }

  .sub-banner{
    width: auto;
  }

  .front--grad__inner {
    padding: 8% 6% 0%;
  }

  .sticker__list {
    max-width: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    transform: translateY(0px);
  }

  .sticker__list__item {
    display: block;
    width: 46%;
    margin-bottom: 8%;
  }

  .sticker__list__item a {
    display: block;
    height: auto;
  }

  .sticker__list__item::after {
    width: 40%;
    height: auto;
    transform: translateY(15%);
  }

  .sticker__list__item__img,
  .sticker__list__item img {
    width: 100%;
    height: 16.4vh;
  }

  .sticker__list__item__bar {
    font-size: 14px;
    padding: 6px 0;
  }


  .whatsnew-list__ddicon {
    width: 24%;
    margin-bottom: 3%;
  }


  .solution-inner{
    border-bottom: none;
  }
  .solution-tab{
    width: auto;
    padding-bottom: 0;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 2%;
  }
  .solution-tab li{
    position: relative;
    width: 49%;
    margin-bottom: 2%;
    text-align: center;
  }
  .solution-tab li img{
    width: 100%;
  }
  .solution-tab li.active:after{
    content: none;
  }
  .solution-tab-ttl{
    background: url(img/common/next.png) 97% center no-repeat;
    background-size: 15px;
  }
  .spec-area{
    display: none;
  }
  .spec{
    width: auto;
  }
  .spec-ttl{
    font-size: 18px;
  }
  .spec-more:first-child,.spec-more:last-child{
    float: none;
  }
  .spec-more:first-child{
    margin-bottom: 10px;
  }
  .spec-lead{
    width: 90%;
    margin: 0 auto 15px auto;
  }
  .sec-solution{
    margin-bottom: 50px;
  }
  .sec-products{
    height: 200px;
    margin-bottom: 50px;
  }
  .sec-products .sec-ttl{
    width: 100%;
  }
  .products-more{
    padding: 15px 0;
    width: 80%;
  }
  .card-list{
    justify-content: space-between;
  }
  .card-article{
    width: 48%;
    margin-right: 0;
  }
  .card-article-thum:after{
    width: 101%;
    right: -1px;
  }
  .btn-more{
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
  }

  /*----sns----*/
  .sns-area{
    display: block;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  }
  .sns-btn{
    display: block;
    float: left;
    height: 30px;
  }
  .sns-gplus{
    clear: both;
  }

  /*----pankuzu----*/
  .pankuzu{
    margin-bottom: 30px;
  }
  .pankuzu-list{
    width: auto;
    padding-left: 10px;
  }



  /*--- renew 電源 Iot ---*/

  .header--grad {
    height: 86px;
    margin-top: -30px!important;
  }

  .header--grad__ttl {
    font-size: 21px;
  }

  .lay-diot {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .lay-diot .detail-area img {
    max-width: 100%;
    height: auto;
  }

  .lay-diot__download {
    /* flex-wrap: nowrap; */
  }

  .lay-diot__download__item {
    width: 100%;
  }

  .lay-diot__sidenav {
    width: 100%!important;
    margin-left: 0px;
    padding: 0 18px;
  }

  .lay-diot__sub-column__h {
    margin-bottom: 8px;
    font-size: 21px;
    font-weight: bold;
  }


  /*--- renew 検査衛生 ---*/

  .header--grad--high {
    height: 72px;
  }

  .lay-high__prolist__item {
    width: 48.5%;
  }

  .lay-high__prolist {
    flex-wrap: wrap;
    margin-top: auto;
    transform: translateY(-5%);
  }

  .lay-high__inner {
    flex-wrap: wrap;
  }

  .lay-high__inner--works,
  .lay-high__inner--downloads {
    width: 100%;
  }

  .lay-high__inner--works {
    margin-bottom: 4%;
  }

  .lay-high__card-article__item,
  .lay-high__card-article__item::after, {
    width: 32%;
  }

  .lay-high__card-article-thum {
    width: 18%;
  }

  .lay-high__sub-column__h {
    margin-bottom: 6%;
    font-size: 18px;
  }

  .lay-high__sub-column__h span {
    font-size: 14px;
  }

  .lay-high__download__img {
    width: 16%;
  }

  .lay-high__download__txt {
    width: 70%;
  }

  /*----categorypage----*/
  .categorypage-ttl{
    font-size: 14px;
    margin-bottom: 50px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .categorypage-ttl--border{
    border-bottom: none;
    padding-bottom: 0;
  }
  .categorypage-ttl strong{
    font-size: 36px;
  }
  .categorypage-ttl span{
    font-size: 14px;
  }
  .categorypage-ttl span.al{
    display: block;
  }
  .low-banner{
    padding: 25px 0;
  }
  .low-banner-list{
    width: auto;
    flex-wrap: wrap;
    /* margin: 0 30px; */
  }
  .low-banner-list li{
    width: 45%;
    margin-bottom: 7%;
  }

  .low-banner-list a {
    width: auto;
    margin-bottom: auto;
  }











  /*----solution-page----*/
  .sideways{
    width: auto;
    margin: 0 15px 40px 15px;
  }
  .sideways-thum{
    width: 75%;
    margin: 0 auto 30px auto;
    float: none;
    background-size: 70%;
  }
  .sideways-thum img{
    width: 100%;
  }
  .sideways-inner{
    width: auto
  }
  .sideways-ttl{
    font-size: 20px;
  }
  .sideways-btn a:first-child{
    float: none;
    margin-bottom: 10px;
  }
  .sideways-btn a:last-child{
    float: none;
  }


  /*----detail----*/
  .detail-area{
    width: auto;
    float: none;
    /* margin: 0 8px 0 8px; */
  }
  .detail-head{
    margin-bottom: 20px;
  }
  .detail-ttl{
    font-size: 18px;
  }

  .detail-content {
    width: 100%;
    font-size: 14px;

  }

  .detail-content img,
  .detail-content-img{
    margin-bottom: 3%;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .mass{
    margin-bottom: 35px;
  }
  .mass-ttl{
    margin-bottom: 5px;
    font-size: 18px;
  }
  .mass-text{
    font-size: 14px;
    text-align: justify;
  }
  .detail-relation-tll{
    font-size: 20px;
    margin: 60px 0 20px;
    font-weight: normal;
  }
  .detail-relation a{
    margin-bottom: 20px;
  }
  .detail-relation-text{
    font-size: 14px;
  }
  .card-list-ttl{
    font-size: 16px;
  }

  /*---detail Products LP ---*/

  .proLP-detail-head {
    margin-top: -30px; /* pankuzu reset */
    margin-bottom: 30px;
    }

  .proLP-inner-wrap {
    width: auto;
    margin: 0 15px;
  }

  .proLP-inner-head {
    flex-wrap: wrap;
    width: 100%;
    max-height: none;
    margin-bottom: 4%;
  }

  .proLP-detail-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 4%;
  }

  .proLP-detail-logo img {
    /* max-height: none; */
  }

  .proLP-detail-kanren {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4%;
  }

  .proLP-detail-kanren__inner {
    padding: 0;
  }

  .proLP-detail-kanren__inner img {
    max-width: 100px;
    height: auto;
    max-height: auto;
    vertical-align: top;
  }

  .proLP-detail-pimg {
    max-width: 100%;
    width: 100%;
  }
  .proLP-detail-pimg img{
    width: 100%;
  }

  .proLP-detail-pimg2 {
    width: 100%;
  }

  .proLP-detail-dlistbox {
    width: 100%;
  }

  .proLP-detail-dlistbox-list-item {
    flex-basis: 100%;
    padding-bottom: 20px;
  }

  .proLP-detail-featurelist__item {
    display: flex;
  }

  .proLP-detail-textarea {
    width: 100%;
    margin-top: 8%;
  }

  .flexorder {
    display: flex;
    flex-wrap: wrap;

  }

  .proLP-detail-pricearea {
    order: 2;
    width: 100%;
  }

  .proLP-detail-pricearea {
    margin-left: 0%;
    margin-bottom: 2%;
  }

  .proLP-detail-contactarea {
    order: 1;
    margin-top: 0;
    width: 100%;
  }

  .proLP-detail-textarea-desc {
    order: 3;
  }

  .proLP-detail-dlistbox-title,
  .proLP-detail-box-ttl {
    text-align: center;
  }

  .proLP-detail-formarea-flo-pdflink {
    width: 92%;
    margin: 3% 4%;
  }

  /*---jirei ---*/

  .jireiLP-detail-pimg .caption-wrap{
    background:black!important;
  }

  .jireiLP-detail-pimg .caption{
    color: #fff;
    margin-bottom:0px;
  }

  .jireiLP-detail-pimg .ms-image{
    margin-top:0px!important;
  }

  .jireiLP-detail-wrapper,.jireiLP-detail-relation{
    width: auto;
    margin: 0 8px 0 8px;
  }

  .jireiLP-inner-vi-sub,
  .jireiLP-detail-textarea{
    width: 100%;
    padding-top: 30px;
  }

  .jireiLP-inner-vi-prof-desc img {
    width: 80%;
  }

  .jireiLP-inner-wrap{
    margin-top:30px;
  }

  h1.jireiLP-detail-ttl{
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  h2.jireiLP-inner-vi-sub-title{
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  h3.jireiLP-detail-textarea-inner-title{
    font-size: 20px;
    padding-bottom:20px;
  }

  h3.jireiLP-detail-bnrlist-title{
    padding-top:0;
  }

  p.jireiLP-inner-vi-sub-desc {
    padding-bottom: 20px;
}

  .jireiLP-inner-vi-main{
    max-width: 100%;
  }

  .jireiLP-inner-vi-sub{
    padding-bottom: 20px;
  }


 .jireiLP-detail-pimg-wrap .metaslider {
   width: 100%;
   max-width: none!important;
   margin: 0 auto;
 }

 .jireiLP-detail-pimg-wrap {
   max-width: none;
 }

  .jireiLP-detail-bnrlist-inner {
    margin-bottom: 0;

  }

  .jireiLP-detail-bnrlist-item {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .jireiLP-detail-textarea-inner{
    padding-bottom: 50px;
  }

  .jireiLP-inner-wrap{
    margin-top:0;
  }

  .jireiLP-detail-bnrlist-item {
    width: 100%;
    margin-bottom: 5%;
    margin-left: 0;
  }

  .detail-relation {
    margin-top: 30px;
  }

  .detail-relation-tll{
    margin-top:30px;
  }

  .jireiLP-detail-margintop{
    font-size: 16px;
  }


/* iframe レスポンシブ */

  .iframe-wrapper {
    position: relative;
    width: 100%;
    padding: calc(450 / 750 * 100%) 0 0 0;
  }
  .iframe-wrapper iframe {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }



/*-- online --*/

  .online-wrapper {
    margin-top: -30px;

  }

  .online-nav {
    width: 100%;
  }

  .online-first {
     padding-top: 30px;
  }

  .online-first__title p {
    width: 92%;
  }

  .online-first__desc {
    max-width: 92%;
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .online-first__slidesec {
    margin: 16px 0;
  }

  .expo-footer__inner {
    flex-wrap: wrap;
  }

  .expo-footer__inner p {
    margin-bottom: 20px;
  }

  .expo-footer__link {
    width: 100%;
  }

  .online-single__header__num {
    font-size: 48px;
    margin-top: 0;
  }

  .online-single__header__txt {
    font-size: 24px;
  }

  .online-single__header__txt span {
    font-size: 21px;
  }

  .online-single__header__txt--sub {
    margin-top: -4px;
  }

  .online-single-list {
    flex-wrap: wrap;
  }

  .online-single-list__item {
    width: 100%;
  }

  .swiper-slide {
    width: 50vw!important;
    /* margin: auto; */
  }



/*-- contact --*/

  .wpcf7-form{
    padding: 0;
    background: none;
  }

  .wpcf7 dt{
    width:24%;
  }

  .wpcf7 dd{
    width: 76%;
    background: #;
  }

  .inner-wrap{
    width: auto;
    padding-left: 10px; /*renew*/
    padding-right: 10px; /*renew*/
  }
  .inner-wrap--min{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .inner-min{
    float: none;
  }
  .card-list--col3{
    width: auto;
    margin-right: 0;
  }
  .card-list--col3 .card-article{
    width: 48%;
    margin-right: 0;
  }
  .three-col{
    width: 48%;
    margin-right: 0;
  }

  form input[name="field_3592798_1"],
  form input[name="field_3592798_2"],
  form input[name="field_3592798_3"]
  {
    width: 30%;
  } 


}


@media screen and (max-width: 480px){

  .online-first__desc {
    margin-top: 14px;
    font-size: 14px;
  }

  .nav-online__item__num {
    left: 4px;
    font-size: 13px;
  }

  .online-detail__intro {
    flex-wrap: wrap;
  }

  .online-detail__pimg {
    margin-bottom: 42px;
  }

  .online-detail__pimg__wrap {
    width: 100%;
  }

  .online-detail__intro {
    width: 100%;
  }

  .online-detail__hbox {
    width: 100%;
    padding-left: 0;
  }

  .remodal {
    padding: 42px!important;
  }

  .remodal-overlay {
    background: rgba(255, 255, 255, 1.0)!important;
  }

  .remodal-wrapper {
    padding: 20px 20px 0;
  }

  .remodal-close {
    top: 24px!important;
    right: 12px;
  }

  .online-detail__closebnr {
    padding: 14px 25px;
    font-size: 14px;
  }



}



/*-- カテゴリスタイル --*/

/*---カテゴリタグの背景色指定---*/
.whatsnew{
  background: #cccc00;
  background: -moz-linear-gradient(left, #cccc00 0%, #eba226 100%);
  background: -webkit-linear-gradient(left, #cccc00 0%,#eba226 100%);
  background: linear-gradient(to right, #cccc00 0%,#eba226 100%);
}
.products{
  background: #66cc99;
  background: -moz-linear-gradient(left, #66cc99 0%, #6699ff 100%);
  background: -webkit-linear-gradient(left, #66cc99 0%,#6699ff 100%);
  background: linear-gradient(to right, #66cc99 0%,#6699ff 100%);
}
.solution{
  background: #f39a24;
  background: -moz-linear-gradient(left, #f39a24 0%, #f67373 100%);
  background: -webkit-linear-gradient(left, #f39a24 0%,#f67373 100%);
  background: linear-gradient(to right, #f39a24 0%,#f67373 100%);
}
/*---    ここまで   ---*/
